### Data Types

Numeric : int, float, complex
Text : str
Sequence : list, tuple, range
Mapping : dict
Set : set, frozenset
boolean : bool(true and false)

### Numeric

### 1. integet

integer will include whole numbers
+ve, -ve numbers

In [3]:
ab=45
type(ab)

int

In [8]:
ab=45
type(ab)

int

In [4]:
type(ab)

int

In [11]:
ab=78
ab

78

In [10]:
ab

78

In [12]:
print(ab)

78

In [12]:
ab=-45
ab

-45

In [4]:
r=789088748

In [5]:
r

789088748

In [6]:
type(r)

int

In [7]:
print(type(r))

<class 'int'>

In [11]:
r=-789088748
print(type(r))

<class 'int'>

### 2.Float

It contains/includes desimal point

In [13]:
r=7890.88748

In [14]:
r

7890.88748

In [15]:
print(type(r))

<class 'float'>

In [16]:
type(r)

float

In [17]:
r=-7890.88748
type(r)

float

### Complex

It contains real and imaginary part

In [19]:
r=34+4j
r

(34+4j)

In [20]:
type(r)

complex

In [36]:
c=34+j
type(r)

NameError: name 'j' is not defined

In [37]:
type(c)

NameError: name 'c' is not defined

In [23]:
r=34+4j
type(r)

complex

In [25]:
r

(34+4j)

In [26]:
r=375+4j
r

(375+4j)

In [1]:
b=375+0j

In [2]:
type(b)

complex

In [28]:
r=375+4j
type(r)

complex

In [1]:
n=375+4y
type(n)

SyntaxError: invalid syntax (121009481.py, line 1)

In [2]:
type(n)

NameError: name 'n' is not defined

### python casting

int()
float()
complex()
str()

### 1. int to float, complex, string

In [3]:
a=413
type(a)

int

In [4]:
float(a)

413.0

In [5]:
complex(a)

(413+0j)

In [6]:
str(a)

'413'

In [3]:
print (float(a))

413.0

In [11]:
a = 45
print('Value of our variable is:',a , type(a))
a = float(a)
print('Value of our variable is:',a , type(a))

Value of our variable is: 45 <class 'int'>
Value of our variable is: 45.0 <class 'float'>

In [12]:
a

45.0

In [8]:
a = 45
print('Value of our variable is:',a , type(a))
a = complex(a)
print('Value of our variable is:',a , type(a))

Value of our variable is: 45 <class 'int'>
Value of our variable is: (45+0j) <class 'complex'>

In [9]:
a

(45+0j)

In [13]:
a = 45
print('Value of our variable is:',a , type(a))
a = str(a)
print('Value of our variable is:',a , type(a))

Value of our variable is: 45 <class 'int'>
Value of our variable is: 45 <class 'str'>

In [14]:
a

'45'

In [63]:
a = 45
print('Value of our variable is:',a , type(a))
a = string(a)
print('Value of our variable is:',a , type(a))

Value of our variable is: 45 <class 'int'>

NameError: name 'string' is not defined

In [22]:
re='ramdas',60
re

('ramdas', 60)

In [67]:
print(re)

('ramdas', 60)

In [68]:
re='ramdas',60
print(re)

('ramdas', 60)

In [23]:
re=60
re

60

In [24]:
str(re)

'60'

In [25]:
print(str(re))

60

In [71]:
int(re)

60

In [72]:
float(re)

60.0

### 2.float into string int complex

In [7]:
be=54.697
be

54.697

In [8]:
type(be)

float

In [9]:
print(type(be))

<class 'float'>

In [10]:
be

54.697

In [11]:
print("my taken value is:",be,type(be))
be=str(be)
print("my 2nd taken value is:",be,type(be))

my taken value is: 54.697 <class 'float'>
my 2nd taken value is: 54.697 <class 'str'>

In [28]:
ce=56.7

In [29]:
type(ce)

float

In [30]:
int(ce)

56

In [31]:
str(ce)

'56.7'

In [32]:
complex(ce)

(56.7+0j)

In [14]:
be=567

In [15]:
type(be)

int

In [17]:
print(type(be))

<class 'int'>

In [87]:
type(be)

int

In [15]:
be=56.58

In [19]:
print("my taken value is:",be,type(be))
be=str(be)
print("my 2nd taken value is:",be,type(be))

my taken value is: 56.58 <class 'float'>
my 2nd taken value is: 56.58 <class 'str'>

In [16]:
print("my taken value is:",be,type(be))
be=int(be)
print("my 2nd taken value is:",be,type(be))

my taken value is: 56.58 <class 'float'>
my 2nd taken value is: 56 <class 'int'>

In [24]:
an='67.80'

In [25]:
type(an)

str

In [103]:
bj

NameError: name 'bj' is not defined

In [47]:
be=54.697

In [28]:
type(be)

float

In [44]:
print("my taken value is:",be,type(be))
be=int(be)
print("my 2nd taken value is:",be,type(be))

my taken value is: 54.697 <class 'float'>
my 2nd taken value is: 54 <class 'int'>

In [46]:
print("my taken value is:",be,type(be))
be=complex(be)
print("my 2nd taken value is:",be,type(be))

my taken value is: 54.697 <class 'float'>
my 2nd taken value is: (54.697+0j) <class 'complex'>

In [50]:
bb=67.80

In [51]:
print("my taken value is:",bb,type(bb))
bb=str(be)
print("my taken value is:",bb,type(bb))

my taken value is: 67.8 <class 'float'>
my taken value is: 54.697 <class 'str'>

### 3. string to int float complex

If string is in word then it can't convert into int,float and complex
If string is in number then it can convert into int,float and complex

In [23]:
m='jio mere lal'
m

'jio mere lal'

In [24]:
int(m)

ValueError: invalid literal for int() with base 10: 'jio mere lal'

In [25]:
float(m)

ValueError: could not convert string to float: 'jio mere lal'

In [26]:
complex(m)

ValueError: complex() arg is a malformed string

In [126]:
print('maine jo likha ahi vo jai:',m,type(m)
m=int(m)
print('maine jo likha hai vo hai:',m,type(m))

SyntaxError: invalid syntax (3719770737.py, line 2)

In [127]:
print('maine jo likha ahi vo jai:',m,type(m)
m=float(m)
print('maine jo likha hai vo hai:',m,type(m))

SyntaxError: invalid syntax (1288684137.py, line 2)

In [128]:
print('maine jo likha ahi vo jai:',m,type(m)
m=complex(m)
print('maine jo likha hai vo hai:',m,type(m))

SyntaxError: invalid syntax (285208156.py, line 2)

In [52]:
radhe='56'
radhe

'56'

In [132]:
type(radhe)

str

In [133]:
int(radhe)

56

In [134]:
float(radhe)

56.0

In [21]:
complex(radhe)

(56+0j)

In [53]:
print("my taken value is:",radhe,type(radhe))
radhe=complex(radhe)
print("my 2nd taken value is:",radhe,type(radhe))

my taken value is: 56 <class 'str'>
my 2nd taken value is: (56+0j) <class 'complex'>

In [58]:
radhe='76'
radhe

'76'

In [55]:
print("my taken value is:",radhe,type(radhe))
radhe=int(radhe)
print("my 2nd taken value is:",radhe,type(radhe))

my taken value is: 76 <class 'str'>
my 2nd taken value is: 76 <class 'int'>

In [57]:
print("my taken value is:",radhe,type(radhe))
radhe=float(radhe)
print("my 2nd taken value is:",radhe,type(radhe))

my taken value is: 76 <class 'str'>
my 2nd taken value is: 76.0 <class 'float'>

In [59]:
print("my taken value is:",radhe,type(radhe))
radhe=complex(radhe)
print("my 2nd taken value is:",radhe,type(radhe))

my taken value is: 76 <class 'str'>
my 2nd taken value is: (76+0j) <class 'complex'>

### 3. Complex to string int float

In [146]:
a=4+4j
a

(4+4j)

In [147]:
type(a)

complex

In [148]:
print('my complex number is:',a,type(a))
a=int(a)
print('yes boss got it:',a,type(a))

my complex number is: (4+4j) <class 'complex'>

TypeError: can't convert complex to int

In [149]:
print('my complex number is:',a,type(a))
a=float(a)
print('yes boss got it:',a,type(a))

my complex number is: (4+4j) <class 'complex'>

TypeError: can't convert complex to float

In [150]:
print('my complex number is:',a,type(a))
a=str(a)
print('yes boss got it:',a,type(a))

my complex number is: (4+4j) <class 'complex'>
yes boss got it: (4+4j) <class 'str'>