## chr()

which transform ASCII value to characters (ASCII-american standard code for information interchange)
Range for ASCII value from 65-90 [A-Z]
Range for ASCII value from 97-122 [a-z]
range for ASCIT value from 91-96 [ [,\,],^,_,` ]

In [57]:
chr(90)

'Z'

In [58]:
print(chr(90))

Z

In [59]:
chr(65)

'A'

In [60]:
chr(79)

'O'

In [61]:
chr(97)

'a'

In [62]:
chr(122)

'z'

In [63]:
print(chr(109))

m

In [64]:
chr(91),chr(92)

('[', '\\')

In [65]:
chr(96)

'`'

## ord()

It converts character into an ASCII value

In [66]:
ord('E')

69

In [67]:
print(ord('e'))

101

In [68]:
ord('X')

88

In [69]:
ord('v')

118

## range()

range(start_index, end_index, step_size)# end index is excluded

In [15]:
range(0,10)

range(0, 10)

In [70]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
range(1,100)

range(1, 100)

In [75]:
print(list(range(50)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [76]:
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [77]:
print(print(list(range(50))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
None

In [78]:
list(range(0,50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [79]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [80]:
list(range(1,50,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [7]:
a='my name'
index=0
for i in a:
    print(i,index)
    index=index+1

m 0
y 1
  2
n 3
a 4
m 5
e 6

In [17]:
a='my name'
for i in a:
    print(i,len(i))

m 1
y 1
  1
n 1
a 1
m 1
e 1

In [9]:
a='my name'
for i in a:
    print(i,len(a))

m 7
y 7
  7
n 7
a 7
m 7
e 7

In [1]:
a='my name'
for i in a:
    print(i.count(i))

1
1
1
1
1
1
1

In [2]:
a='my name'
for i in a:
    print(a.count(i))

2
1
1
1
1
2
1

In [21]:
a='my name'
for i in a:
    print(i.count(a))

0
0
0
0
0
0
0

In [7]:
a='my name'
for i in a:
    print(i,end=' ')

m y   n a m e

In [2]:
a='my name'
for i in range(0,len(a)):
    print(i,end=' ')

0 1 2 3 4 5 6

In [2]:
a=str(input('enter your string '))
for i in range(0,len(a)):
    print(i,end=' ')

enter your string 'my name'
0 1 2 3 4 5 6 7 8

In [4]:
a=eval(input('enter your number '))
for i in range(1,a):
    print(i,end=' ')

enter your number 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23

In [3]:
a=34
for i in range(0,len(a)):
    print(i,end=' ')

TypeError: object of type 'int' has no len()

In [18]:
a=34
for i in range(0,a):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33

In [15]:
a=34,4,35,6
for i in range(len(a)):
    print(i,end=' ')

0 1 2 3

In [1]:
a='my name'
for i in range(0,len(a)):
    print(i,end=' ')

0 1 2 3 4 5 6

In [5]:
a='my name'
for i in range(0,a):
    print(i,end=' ')

TypeError: 'str' object cannot be interpreted as an integer

In [3]:
a=eval(input('enter your number'))
for i in range(1,len(a)):
    print(i,end=' ')

enter your number8

TypeError: object of type 'int' has no len()

In [81]:
print(list(range(1,50,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [82]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [83]:
for letter in range(97,123):
    print(chr(letter))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [10]:
for letter in range(A,Z):
    print(ord(letter))

NameError: name 'A' is not defined

In [8]:
for letter in chr(A,Z):
    print(ord(letter))

NameError: name 'A' is not defined

In [85]:
for letter in range(65,91,4):
    print(chr(letter))

A
E
I
M
Q
U
Y

In [86]:
for letter in range(65,123,4):
    print(chr(letter))

A
E
I
M
Q
U
Y
]
a
e
i
m
q
u
y

In [87]:
for special_characters in range(91,97):
    print(chr(special_characters))

[
\
]
^
_
`

##  List

It is sequence data type which can be combination of other data types as well.
Other data types could be >> list, str, int, float, set, dict, tuple........
Lists are mutable>> changable

We can make the changes in the original list.

List allows duplicate items
It is in ordered form.
Indexing and slicing is possible.
List is denoted in square bracket.[]

### list Functions

1.append()
2.extend()
3.index()
4.insert()
5.remove()
6.pop()
7.clear()
8.del()
9.min()
10.max()
11.sum()
12.sorted()
13.sort()
14.reverse()
15.reversed()
16.count()

In [88]:
list=[1,2,3,4,5]

In [89]:
list

[1, 2, 3, 4, 5]

In [90]:
list[0]

1

In [91]:
list[4]

5

In [92]:
list2=[]
list2

[]

In [19]:
list3=[1,2,3,'python',{1,2,3},(3,4,5,2),[2,3,4,5],2.4,3.4,4.5,5.6,{'Ram':20}]
print(list3,type(list3))

[1, 2, 3, 'python', {1, 2, 3}, (3, 4, 5, 2), [2, 3, 4, 5], 2.4, 3.4, 4.5, 5.6, {'Ram': 20}] <class 'list'>

### list indexing and slicing and step sizing

list2 = [1, 4, 7, 8, 5, 2, 3, 6]
       # 0  1  2  3  4  5  6  7 Positive Indexing
       #-8 -7 -6 -5 -4 -3 -2 -1 Negative Indexing
       list2=[4]
       list2=[-5]
       list2[len(list2)-4]
       list2[:],list2[0:4]
       list2[0:5:2] list[3:6:-1]

In [18]:
a='{Aman:12},{},[],(),3,3.6' # string can contain list tuple set,dict,float,int
print(a,type(a))

{Aman:12},{},[],(),3,3.6 <class 'str'>

In [94]:
kubota=[143,567,890,2,4,5,67,23]

In [95]:
kubota[2]

890

In [96]:
kubota[5]

5

In [97]:
kubota[-3]

5

In [98]:
kubota[-6]

890

In [99]:
kubota[len(kubota)-2]

67

In [100]:
len(kubota)

8

In [101]:
print(kubota[len(kubota)-8])

143

In [102]:
kubota[0:4]

[143, 567, 890, 2]

In [103]:
kubota[3:7]

[2, 4, 5, 67]

In [104]:
kubota[2:9:1]

[890, 2, 4, 5, 67, 23]

In [105]:
kubota[0::2]

[143, 890, 4, 67]

In [106]:
kubota[::-1]

[23, 67, 5, 4, 2, 890, 567, 143]

In [107]:
kubota[::-2]

[23, 5, 2, 567]

In [2]:
ram="laxman"
for r in ram:
    print(r)

l
a
x
m
a
n

In [109]:
ram='laxman'
for i in 'laxman':
    print(i)

l
a
x
m
a
n

In [110]:
ram='laxman'
for i in 'laxman':
    print(ram)

laxman
laxman
laxman
laxman
laxman
laxman

In [111]:
ram='laxman'
for i in 'laxman':
    print('ram')

ram
ram
ram
ram
ram
ram

In [112]:
ram='laxman'
for i in 'laxman':
    print('laxman')

laxman
laxman
laxman
laxman
laxman
laxman

In [113]:
index=0
for i in ram:
    print(index,i)
    index=index+1

0 l
1 a
2 x
3 m
4 a
5 n

In [114]:
index=0
for i in ram:
    print(index)
    index=index+1

0
1
2
3
4
5

In [115]:
index=0
for i in ram:
    print(index,i)
    index=index+2

0 l
2 a
4 x
6 m
8 a
10 n

In [116]:
index=1
for i in ram:
    print(index,i)
    index=index+100

1 l
101 a
201 x
301 m
401 a
501 n

In [2]:
index=1
for i in ram:
    print(i,index)
    index=index+100

l 1
a 101
x 201
m 301
a 401
n 501

In [117]:
index=7
for i in ram:
    print(index,i)
    index=index+4

7 l
11 a
15 x
19 m
23 a
27 n

In [4]:
index=7
for i in ram:
    index=index+4
    print(index,i)

11 l
15 a
19 x
23 m
27 a
31 n

In [118]:
index=1
for letter in 'laxman':
    print(f'laxman value of {index}th position is {letter}')
    index=index+1

laxman value of 1th position is l
laxman value of 2th position is a
laxman value of 3th position is x
laxman value of 4th position is m
laxman value of 5th position is a
laxman value of 6th position is n

In [119]:
index=1
for letter in 'laxman':
    print(f'laxman value of {index}th position is {letter}')
    index=index+7

laxman value of 1th position is l
laxman value of 8th position is a
laxman value of 15th position is x
laxman value of 22th position is m
laxman value of 29th position is a
laxman value of 36th position is n

In [120]:
index=4
for letter in 'laxman':
    print(f'laxman value of {index}th position is {letter}')
    index=index+7

laxman value of 4th position is l
laxman value of 11th position is a
laxman value of 18th position is x
laxman value of 25th position is m
laxman value of 32th position is a
laxman value of 39th position is n

In [121]:
index=4
for letter in 'laxman':
    print(f'laxman value of {index}th position is {letter}')
    index=index-7

laxman value of 4th position is l
laxman value of -3th position is a
laxman value of -10th position is x
laxman value of -17th position is m
laxman value of -24th position is a
laxman value of -31th position is n

In [20]:
lis=[234,2,3,4,7.8,.7,65.7,[1,2,3],{22,3,4},(3,2,4),'radha sham',{'Radhe':'Sham'}]

In [25]:
print(lis,end='')

[234, 2, 3, 4, 7.8, 0.7, 65.7, [1, 2, 3], {3, 4, 22}, (3, 2, 4), 'radha sham', {'Radhe': 'Sham'}]

### list functions

#### 1.append()

we can add single element in the list.
and added element will be at the last of the position in list.
syntax >> list.append(value)
syntax >> list.append('string')

In [3]:
r15=[1,2,3,3.4,4.5,9,[3,46.5,4.5],'radhe']

In [4]:
r15

[1, 2, 3, 3.4, 4.5, 9, [3, 46.5, 4.5], 'radhe']

In [5]:
r15.append(45)

In [6]:
r15

[1, 2, 3, 3.4, 4.5, 9, [3, 46.5, 4.5], 'radhe', 45]

In [7]:
r15.append('ramulo')

In [8]:
r15

[1, 2, 3, 3.4, 4.5, 9, [3, 46.5, 4.5], 'radhe', 45, 'ramulo']

In [9]:
r15.append('456')

In [10]:
r15

[1, 2, 3, 3.4, 4.5, 9, [3, 46.5, 4.5], 'radhe', 45, 'ramulo', '456']

In [11]:
print(r15)

[1, 2, 3, 3.4, 4.5, 9, [3, 46.5, 4.5], 'radhe', 45, 'ramulo', '456']

In [12]:
r13=r15.append('jayashri')

In [15]:
r13

In [14]:
r15

[1,
 2,
 3,
 3.4,
 4.5,
 9,
 [3, 46.5, 4.5],
 'radhe',
 45,
 'ramulo',
 '456',
 'jayashri']

In [136]:
print(r15)

[1, 2, 3, 3.4, 4.5, 9, [3, 46.5, 4.5], 'radhe', 45, 'ramulo', '456', 'jayashri']

In [137]:
r15.append('ramlal','shamlal',56)

TypeError: list.append() takes exactly one argument (3 given)

### 2.extend()

extend also add elements list or strings list to the list,at end of position.
it can add complete new one list in previous one at the end of position.
Even though we can add the single element, but its data type should be list.
syntax>> list.extend([value]) and list.extend(list2)

In [27]:
team=[1.2,3,4,44,567,'adiram']

In [2]:
print(team)

[1.2, 3, 4, 44, 567, 'adiram']

In [3]:
team

[1.2, 3, 4, 44, 567, 'adiram']

In [4]:
team.aextend(67)

AttributeError: 'list' object has no attribute 'aextend'

In [28]:
team.extend(45)

TypeError: 'int' object is not iterable

In [5]:
team.extend([45])

In [6]:
team

[1.2, 3, 4, 44, 567, 'adiram', 45]

In [7]:
team.extend([45,34,78])

In [8]:
team

[1.2, 3, 4, 44, 567, 'adiram', 45, 45, 34, 78]

In [147]:
r=[34,6,89,935,'t','r']

In [148]:
r.extend(['y'])

In [149]:
r

[34, 6, 89, 935, 't', 'r', 'y']

In [150]:
t1=[11,22,33,45,667,6,54,]
t2=[23,45,66,77,67]

In [151]:
print(t1)
print(t2)

[11, 22, 33, 45, 667, 6, 54]
[23, 45, 66, 77, 67]

In [152]:
t1
t2

[23, 45, 66, 77, 67]

In [153]:
t1.extend(t2)

In [154]:
t1

[11, 22, 33, 45, 667, 6, 54, 23, 45, 66, 77, 67]

In [155]:
t2

[23, 45, 66, 77, 67]

In [156]:
t1

[11, 22, 33, 45, 667, 6, 54, 23, 45, 66, 77, 67]

In [157]:
li=[]
li1=[23.34,45,6,7.8,5]

In [158]:
li.extend(li1)

In [159]:
li

[23.34, 45, 6, 7.8, 5]

In [160]:
li.extend([2,33,4.5,6])

In [161]:
li

[23.34, 45, 6, 7.8, 5, 2, 33, 4.5, 6]

In [29]:
list1 = [1,4.5,2,3,5.1,6,2.2,4.3,7,8]

In [30]:
even_number=[]
odd_number=[]
for i in list1:
    if i%2==0:
        even_number.append(i)
    else:
        odd_number.append(i)
print(f'even numbers: {even_number}')
print('odd numbers:',odd_number)

even numbers: [2, 6, 8]
odd numbers: [1, 4.5, 3, 5.1, 2.2, 4.3, 7]

In [31]:
l = [13,11,17,47,44,56,76,8,33]
notprime =[]
prime = []
for i in l:
    for j in list(range(2,i)):#it will create a list of 2,....12 like that for number 13
        if i%j==0:#13/2,3,4,...12
            notprime.append(i)
            break
            #l.remove(i)
    else:
        prime.append(i)
            
print(notprime)
print(prime)

[44, 56, 76, 8, 33]
[13, 11, 17, 47]

In [164]:
list1 = [1,4.5,2,3,5.1,6,2.2,4.3,7,8]
int_list=[]
float_list=[]
for i in list1:
    if type(i)==int:
        int_list.append(i)
    else:
        float_list.append(i)
print('list of integer is',int_list)
print('list of float is',float_list)

list of integer is [1, 2, 3, 6, 7, 8]
list of float is [4.5, 5.1, 2.2, 4.3]

In [165]:
list=[12,-32,5,45,-5,-45,-76,7]

In [166]:
positive_list=[]
negative_list=[]
for i in list:
    if i>=0:
        positive_list.append(i)
    else:
        negative_list.append(i)
print('list of positive is',positive_list)
print('list of negative is',negative_list)

list of positive is [12, 5, 45, 7]
list of negative is [-32, -5, -45, -76]

In [39]:
st = input('Enter the string: ')
vowels = 0
consonants = 0
digit = 0
space = 0
spec_char=0

for i in st:
    if (i =='a' or i =='e' or i =='i' or i =='o' or i =='u'or i =='A' or i =='E' or i =='I' or i =='O' or i =='U'):
        vowels = vowels+1
    
    elif((ord(i)>=97 and ord(i)<=123)) or ((ord(i)>=65 and ord(i)<=91)):
        consonants = consonants+1    
    
    elif i.isdigit():
        digit = digit + 1  
    
    elif  i.isspace():
        space = space + 1  
    else:
        spec_char = spec_char + 1     
              
        
        
        
print(vowels)
print(consonants)
print(digit)
print(space)
print(spec_char)
print(len(st))

Enter the string: My name IS,Akshay.iam from 12 no.pati Latur
13
19
2
6
3
43

In [23]:
list3=[1,21,34,56,-23,4,-3,-12,3]
positive_list=[]
negative_list=[]
for i in list3:
    if i>=0:
        positive_list.append(i)
    else:
        negative_list.append(i)
print(f'positive_list:',positive_list)
print(f'negative_list:',negative_list)

positive_list: [1, 21, 34, 56, 4, 3]
negative_list: [-23, -3, -12]

In [3]:
list2 = [1,2,3,4,5,6,7,8,9,10]

In [193]:
2 in list2

True

In [194]:
6.5 in list2

False

In [195]:
'ram' in list2

False

In [5]:
20 not in list2

True

In [6]:
'ram' not in list2

True

In [197]:
5 is not list2

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_16620\852322040.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not list2

True

In [2]:
2 is in list2

SyntaxError: invalid syntax (3320205235.py, line 1)

In [198]:
list1 = [1,4,2,3]
list2 = [2,3,5,7]

In [199]:
list1+list2

[1, 4, 2, 3, 2, 3, 5, 7]

In [201]:
list1.extend(list2)

In [202]:
list1

[1, 4, 2, 3, 2, 3, 5, 7]

In [203]:
list1 = [1,4,2,3,6,8]
list2 = [2,3,5]

In [204]:
for i in list2:
    list1.append(i)
#     print(list1)
print(list1)

[1, 4, 2, 3, 6, 8, 2, 3, 5]

In [205]:
for i in list2:
    list1.append(i)
    print(list1)
#print(list1)

[1, 4, 2, 3, 6, 8, 2, 3, 5, 2]
[1, 4, 2, 3, 6, 8, 2, 3, 5, 2, 3]
[1, 4, 2, 3, 6, 8, 2, 3, 5, 2, 3, 5]

### index()

used to find an index of perticular element in list.
syntax>> list.index(element)
syntax>> list.index(element,occurence)

In [206]:
team=[1.2,3,4,44,567,'adiram']

In [207]:
team.index(44)

3

In [208]:
team.index('adiram') #it is index example.

5

In [210]:
team[5] # it is indexing example.

'adiram'

In [209]:
team[3]

44

In [82]:
team=[1.2,3,4,44,567,'adiram',3,4,56,4]

In [212]:
team.index(3)

1

In [213]:
team.index(3,2) # here 2 is occurence

6

In [84]:
team.index(4,4)

7

In [85]:
team.index(4,5)

7

In [215]:
team.index(4,2)

2

In [9]:
list1 = [1,2,4,2,4,3,4,6,8,7,4]
list1.index(4)

2

In [2]:
list1.index(4,1)

2

In [14]:
list1.index(4,7)

10

### 4.insert()

we can add any element at any position of existing list.
list.insert(index,value)

In [216]:
t1=[11,22,33,45,667,6,54,]
t2=[23,45,66,77,67]

In [217]:
t1.insert(3,'ram lal pyare $$')

In [218]:
t1

[11, 22, 33, 'ram lal pyare $$', 45, 667, 6, 54]

In [219]:
t1.insert(5,'dada')

In [220]:
t1

[11, 22, 33, 'ram lal pyare $$', 45, 'dada', 667, 6, 54]

In [221]:
t1.insert(5,45)

In [222]:
t1

[11, 22, 33, 'ram lal pyare $$', 45, 45, 'dada', 667, 6, 54]

In [223]:
t1.insert(2,[3,4,5,'ram','sham'])

In [224]:
t1

[11,
 22,
 [3, 4, 5, 'ram', 'sham'],
 33,
 'ram lal pyare $$',
 45,
 45,
 'dada',
 667,
 6,
 54]

In [225]:
print(t1)

[11, 22, [3, 4, 5, 'ram', 'sham'], 33, 'ram lal pyare $$', 45, 45, 'dada', 667, 6, 54]

In [226]:
t1.insert(6,t2)

In [227]:
print(t1)

[11, 22, [3, 4, 5, 'ram', 'sham'], 33, 'ram lal pyare $$', 45, [23, 45, 66, 77, 67], 45, 'dada', 667, 6, 54]

In [228]:
t1.insert(2,'t3')

In [229]:
t1

[11,
 22,
 't3',
 [3, 4, 5, 'ram', 'sham'],
 33,
 'ram lal pyare $$',
 45,
 [23, 45, 66, 77, 67],
 45,
 'dada',
 667,
 6,
 54]

In [230]:
print(t1)

[11, 22, 't3', [3, 4, 5, 'ram', 'sham'], 33, 'ram lal pyare $$', 45, [23, 45, 66, 77, 67], 45, 'dada', 667, 6, 54]

### 5.remove()

we can remove the element from the list.
in for loop by deafault it removes the first occurence of the element.
list.remove(item)
in paranthesis we put that element which we want to remove

In [1]:
tem=[21,3,4,5,55,67,8]

In [232]:
tem.remove(3)

In [233]:
tem

[21, 4, 5, 55, 67, 8]

In [234]:
tem

[21, 4, 5, 55, 67, 8]

In [235]:
tem.remove(5)

In [236]:
tem

[21, 4, 55, 67, 8]

In [237]:
tem=[21,3,4,5,55,67,8,5,4,4,6]

In [238]:
tem.remove(5)

In [239]:
tem

[21, 3, 4, 55, 67, 8, 5, 4, 4, 6]

In [240]:
tem.remove(5,2)

TypeError: list.remove() takes exactly one argument (2 given)

In [241]:
tem.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [242]:
tem.remove(56)

ValueError: list.remove(x): x not in list

## 6.pop()

Pop does work like remove only.
syntax>> list.pop(index)
Whenever we do not mention anything in the bracket/paranthesis, then by default it will remove the element which is at the -1 index. means it removes last value of list.
in paranthesis we put that index number which we want to remove

In [243]:
harry=[2,3,44,55,67,'rami','daddy']
harry

[2, 3, 44, 55, 67, 'rami', 'daddy']

In [244]:
harry[2]

44

In [245]:
harry.pop(2)

44

In [246]:
harry

[2, 3, 55, 67, 'rami', 'daddy']

In [247]:
list1 = [ 1,4,8,9,'data','Python']
list1

[1, 4, 8, 9, 'data', 'Python']

In [248]:
list1.pop()

'Python'

In [249]:
list1

[1, 4, 8, 9, 'data']

In [3]:
rams=[23,45,67,889,1,2,33,567]

In [4]:
rams

[23, 45, 67, 889, 1, 2, 33, 567]

In [5]:
rams.pop()
rams

[23, 45, 67, 889, 1, 2, 33]

In [6]:
rams.pop(3)
rams

[23, 45, 67, 1, 2, 33]

In [7]:
rams.pop(3)
rams

[23, 45, 67, 2, 33]

In [8]:
rams.remove(33)
rams

[23, 45, 67, 2]

In [9]:
rams

[23, 45, 67, 2]

In [10]:
rams.pop()

2

In [11]:
rams

[23, 45, 67]

In [255]:
rams.pop(33)
rams

IndexError: pop index out of range

In [1]:
list1 = [ 1,4,8,9,'data','Python']

In [2]:
print('the list before',list1)
j=len(list1)
print(j)
for i in range(0,j):# range(0,7), 0,1,2,3,4,5,6
    list1.pop()
print('list after',list1)

the list before [1, 4, 8, 9, 'data', 'Python']
6
list after []

In [82]:
print('list before',list1)
j=len(list1)
print(j)
for i in range(0,j): # range(0,7), 0,1,2,3,4,5,6
    list1.pop()
    print('list after',list1)

list before [1, 4, 8, 9, 'data', 'Python']
6
list after [1, 4, 8, 9, 'data']
list after [1, 4, 8, 9]
list after [1, 4, 8]
list after [1, 4]
list after [1]
list after []

In [17]:
list1 = [ 1,4,8,9,'data','Python']
for i in list1:# [4, 8, 9, 'data', 'Python'],[4, 9, 'data', 'Python'],[4, 9, 'Python']
    print(i)
    list1.remove(i)
    print('updated list',list1)

1
updated list [4, 8, 9, 'data', 'Python']
8
updated list [4, 9, 'data', 'Python']
data
updated list [4, 9, 'Python']

In [11]:
list1 = [ 1,4,8,9,'data','Python']
for i in list1:
    index=4
    print(i,index)

1 4
4 4
8 4
9 4
data 4
Python 4

In [1]:
a='dynamically typed'
for i in a:
    print(i,a.count(i))

d 2
y 3
n 1
a 2
m 1
i 1
c 1
a 2
l 2
l 2
y 3
  1
t 1
y 3
p 1
e 1
d 2

In [1]:
a="dynamically typed"
for i in a:
    b=a.count(i)
    print(i,b)

d 2
y 3
n 1
a 2
m 1
i 1
c 1
a 2
l 2
l 2
y 3
  1
t 1
y 3
p 1
e 1
d 2

In [12]:
list1 = [ 1,4,8,9,'data','Python']
for i in list1:
    print(i)

1
4
8
9
data
Python

In [18]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [23]:
list2 = [2,5,'Python','Data Science',10,25,4,30]
for i in list2:# [5,'Python','Data Science',10,25,4,30], [5,'Data Science',10,25,4,30], [5,'Data Science',25,4,30],[5,'Data Science',25,30]
    #print(i)
    list2.remove(i)
    print('list updated',list2)
# [2,5,'Python','Data Science',10,25,4,30]
# [5,'Python','Data Science',10,25,4,30]
# [5,'Data Science',10,25,4,30]
# [5,'Data Science',25,4,30]
# [5,'Data Science',25,30]

list updated [5, 'Python', 'Data Science', 10, 25, 4, 30]
list updated [5, 'Data Science', 10, 25, 4, 30]
list updated [5, 'Data Science', 25, 4, 30]
list updated [5, 'Data Science', 25, 30]

In [26]:
list2 = [2,5,'Python','Data Science',10,25,4,30]
for i in list2:# [5,'Python','Data Science',10,25,4,30], [5,'Data Science',10,25,4,30], [5,'Data Science',25,4,30],[5,'Data Science',25,30]
    print(i)
    list2.remove(i)
    print('list updated',list2)
# [2,5,'Python','Data Science',10,25,4,30]
# [5,'Python','Data Science',10,25,4,30]
# [5,'Data Science',10,25,4,30]
# [5,'Data Science',25,4,30]
# [5,'Data Science',25,30]

2
list updated [5, 'Python', 'Data Science', 10, 25, 4, 30]
Python
list updated [5, 'Data Science', 10, 25, 4, 30]
10
list updated [5, 'Data Science', 25, 4, 30]
4
list updated [5, 'Data Science', 25, 30]

In [26]:
t1=[]

In [27]:
t1

[]

In [28]:
if len(t1)==0:
    print('there is nothing in list')
else:
    print('there is something in list')

there is nothing in list

In [29]:
if not t1:
    print('empty list')
else:
    print('it is fullfill')

empty list

###  7.clear()

it clears all the elements in the list.

In [266]:
rams=[23,45,67,889,1,2,33,567]
rams

[23, 45, 67, 889, 1, 2, 33, 567]

In [267]:
rams.clear()

In [268]:
rams

[]

In [2]:
ram=[23,45,67,889,1,2,'python','rakhi']
ram

[23, 45, 67, 889, 1, 2, 'python', 'rakhi']

In [4]:
ram.clear(3)

TypeError: list.clear() takes no arguments (1 given)

In [8]:
a1=[23,45,66,78,9,7,'ram']
a1

[23, 45, 66, 78, 9, 7, 'ram']

In [9]:
a1.clear()

In [10]:
a1

[]

In [11]:
a1=[23,45,66,78,9,7,'ram','sham']
a1

[23, 45, 66, 78, 9, 7, 'ram', 'sham']

In [12]:
a1.clear()

In [13]:
a1

[]

### 8.del()

it simply delete the existing list

In [14]:
a1=[23,45,66,78,9,7,'ram','sham']
a1

[23, 45, 66, 78, 9, 7, 'ram', 'sham']

In [15]:
a1.del()

SyntaxError: invalid syntax (2411148784.py, line 1)

In [16]:
del(a1)

In [17]:
a1

NameError: name 'a1' is not defined

In [19]:
a2=[23,45,66,78,9,7,'ram','sham']
a2

[23, 45, 66, 78, 9, 7, 'ram', 'sham']

In [20]:
del(a2)

In [21]:
a2

NameError: name 'a2' is not defined

In [23]:
a2=[23,45,66,78,9,7,'ram','sham']
a2

[23, 45, 66, 78, 9, 7, 'ram', 'sham']

In [24]:
del a2 [3]

In [25]:
a2

[23, 45, 66, 9, 7, 'ram', 'sham']

In [28]:
del a2['ram']

TypeError: list indices must be integers or slices, not str

In [29]:
del a2[-3]

In [30]:
a2

[23, 45, 66, 9, 'ram', 'sham']

In [31]:
del a2[4]

In [32]:
a2

[23, 45, 66, 9, 'sham']

In [33]:
a2=[23,45,66,78,9,7,'ram','sham']
a2

[23, 45, 66, 78, 9, 7, 'ram', 'sham']

In [34]:
del a2[0:5]

In [35]:
a2

[7, 'ram', 'sham']

In [36]:
del a2[0:5]

In [37]:
a2

[]

In [3]:
a2=[23,45,66,78,9,7,'ram','sham']
a2

[23, 45, 66, 78, 9, 7, 'ram', 'sham']

In [4]:
del a2[0:7:2]

In [5]:
a2

[45, 78, 7, 'sham']

### 9.min()

It is a build in function which gives us a lowest value in the list.

In [51]:
re=[12,33,23,3,45,0]
re

[12, 33, 23, 3, 45, 0]

In [53]:
min(re)

0

In [54]:
re

[12, 33, 23, 3, 45, 0]

In [55]:
re=[12,-33,23,-3,45,0]
re

[12, -33, 23, -3, 45, 0]

In [59]:
min(re)

-33

In [60]:
re.min()

AttributeError: 'list' object has no attribute 'min'

In [57]:
re.(min)

SyntaxError: invalid syntax (4182229527.py, line 1)

In [58]:
min.re()

AttributeError: 'builtin_function_or_method' object has no attribute 're'

In [6]:
list1 = [4,5,7,8,2,1,9,0]
min(list1)

0

In [28]:
list1 = [4,5,7,8,2,1,9,0]
min1=list1[0]
for i in list1:
    if i<min1:
        min1=i
print(min1)

0

In [8]:
min1=list1[0]
for i in list1:
 #   print(i)
    if i<min1:
        min1=i
    print(min1)

4
4
4
4
2
1
1
0

In [ ]:
list1 = [4,5,7,8,2,1,9,0]
4<4  >> False >> 4
5<4  >> False >> 4
7<4  >> False >> 4
8<4  >> False >> 4
2<4  >> True >> 2
1<2  >> True >> 1
9<1  >> False >> 1

### 10 max()

it does give largest value in the list

In [61]:
re=[12,33,23,3,45,0]
re

[12, 33, 23, 3, 45, 0]

In [62]:
max(re)

45

In [65]:
re=[12,-33,23,-3,45,0,435561533426434515247563]
re

[12, -33, 23, -3, 45, 0, 435561533426434515247563]

In [66]:
max(re)

435561533426434515247563

### 11 sum()

It gives the addition of total numbers in the list.

In [67]:
re=[12,33,23,3,45,0]
re

[12, 33, 23, 3, 45, 0]

In [68]:
sum(re)

116

In [69]:
re=[12,-33,23,-3,45,0,435561533426434515247563]
re

[12, -33, 23, -3, 45, 0, 435561533426434515247563]

In [70]:
sum(re)

435561533426434515247607

In [71]:
re=[12,-33,23,-3,45,0]
re

[12, -33, 23, -3, 45, 0]

In [72]:
sum(re)

44

### 12.sorted()

It will sort a list in an ascending order.
It will not update the original list.

In [1]:
a=[43,5,67,23,9,5,0,8,93]
print(a)

[43, 5, 67, 23, 9, 5, 0, 8, 93]

In [3]:
sorted(a)

[0, 5, 5, 8, 9, 23, 43, 67, 93]

In [4]:
a

[43, 5, 67, 23, 9, 5, 0, 8, 93]

In [5]:
a=[43,5,67,-5,-33,-56,1,23,9,5,0,8,93]
print(a)

[43, 5, 67, -5, -33, -56, 1, 23, 9, 5, 0, 8, 93]

In [8]:
b=sorted(a)

In [10]:
b

[-56, -33, -5, 0, 1, 5, 5, 8, 9, 23, 43, 67, 93]

In [9]:
print(a)

[43, 5, 67, -5, -33, -56, 1, 23, 9, 5, 0, 8, 93]

In [11]:
print(b)

[-56, -33, -5, 0, 1, 5, 5, 8, 9, 23, 43, 67, 93]

## sorting

### ascending order

### 13.sort()

value for reverse parameter is by default False.
and False F should be capitalize
it will update original list

In [12]:
a=[43,5,67,-5,-33,-56,1,23,9,5,0,8,93]
print(a)

[43, 5, 67, -5, -33, -56, 1, 23, 9, 5, 0, 8, 93]

In [13]:
a.sort()

In [14]:
a

[-56, -33, -5, 0, 1, 5, 5, 8, 9, 23, 43, 67, 93]

In [15]:
print(a)

[-56, -33, -5, 0, 1, 5, 5, 8, 9, 23, 43, 67, 93]

In [16]:
list1 = [8,2,1,4,3,7]
list1.sort(reverse=False)# value for reverse parameter is by default False.
list1

[1, 2, 3, 4, 7, 8]

In [17]:
list1

[1, 2, 3, 4, 7, 8]

In [18]:
a=[43,5,67,-5,-33,-56,1,23,9,5,0,8,93]
print(a)

[43, 5, 67, -5, -33, -56, 1, 23, 9, 5, 0, 8, 93]

In [20]:
a.sort(reverse=False)

In [21]:
a

[-56, -33, -5, 0, 1, 5, 5, 8, 9, 23, 43, 67, 93]

In [22]:
a

[-56, -33, -5, 0, 1, 5, 5, 8, 9, 23, 43, 67, 93]

In [29]:
list1 = [8,2,1,'string',4,3,7]
list1.sort()
list1

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
list1 = [8,2,1,4,3,7]
list1.sort()
list1

[1, 2, 3, 4, 7, 8]

In [25]:
list1.sort()

In [26]:
list1

[1, 2, 3, 4, 7, 8]

In [27]:
list1.sort(reverse=False)

In [28]:
list1

[1, 2, 3, 4, 7, 8]

### desending order

and True T should be capitalize

In [29]:
a=[43,5,67,-5,-33,-56,1,23,9,5,0,8,93]
print(a)

[43, 5, 67, -5, -33, -56, 1, 23, 9, 5, 0, 8, 93]

In [30]:
a.sort(reverse=True)

In [31]:
a

[93, 67, 43, 23, 9, 8, 5, 5, 1, 0, -5, -33, -56]

In [32]:
print(a)

[93, 67, 43, 23, 9, 8, 5, 5, 1, 0, -5, -33, -56]

In [33]:
list1 = [8,2,1,4,3,7]
list1.sort()
list1

[1, 2, 3, 4, 7, 8]

In [34]:
list1.sort(reverse=True)

In [35]:
list1

[8, 7, 4, 3, 2, 1]

In [37]:
list1.sort(reverse=False)

In [38]:
list1

[1, 2, 3, 4, 7, 8]

### 14.reverse()

it will simply reverse the list elements
it update original list

In [39]:
a=[43,5,67,-5,-33,-56,1,23,9,5,0,8,93]
print(a)

[43, 5, 67, -5, -33, -56, 1, 23, 9, 5, 0, 8, 93]

In [40]:
a.reverse()

In [41]:
a

[93, 8, 0, 5, 9, 23, 1, -56, -33, -5, 67, 5, 43]

In [46]:
list1 = [8,2,1,4,3,7,44,34,5,65]
list1.sort()
list1

[1, 2, 3, 4, 5, 7, 8, 34, 44, 65]

In [47]:
list1.reverse()

In [48]:
list1

[65, 44, 34, 8, 7, 5, 4, 3, 2, 1]

In [30]:
list1 = [8,2,1,4,3,7,44,34,5,65]
list1.sort(reverse=True)
list1

[65, 44, 34, 8, 7, 5, 4, 3, 2, 1]

In [31]:
list1.reverse()

In [32]:
list1

[1, 2, 3, 4, 5, 7, 8, 34, 44, 65]

### 15.reversed()

syntax>> list(reversed(variable1))
it not update the original list

In [12]:
list1 = [8,2,1,4,3,7,44,34,5,65]
list(reversed(list1))

[65, 5, 34, 44, 7, 3, 4, 1, 2, 8]

In [13]:
list1

[8, 2, 1, 4, 3, 7, 44, 34, 5, 65]

In [8]:
list1=[12,3,5,6,'string']
list2=list(reversed(list1))
print(list2)

['string', 6, 5, 3, 12]

In [9]:
list1

[12, 3, 5, 6, 'string']

In [10]:
list2

['string', 6, 5, 3, 12]

In [11]:
list1=[12,3,5,6,'string']
list(reversed(list1))

['string', 6, 5, 3, 12]

In [14]:
list1 = ['d','r','d','g','r',45,65,'23']

In [15]:
list(reversed(list1))

['23', 65, 45, 'r', 'g', 'd', 'r', 'd']

In [16]:
c=list(reversed(list1))

In [17]:
c

['23', 65, 45, 'r', 'g', 'd', 'r', 'd']

### 16.count()

In [18]:
list1 = ['d','r','d','g','r',45,65,'23']

In [20]:
list1.count('g')

1

In [40]:
list1 = ['d','r',3,3,3,3,3,5,54,54,62,2,2,2,33,3,3,3,'d','g','r',45,65,'23']
list1.count(3)

8

In [23]:
list1.count(5)

1

In [9]:
list1 = ['d','r',3,3,3,3,3,5,54,54,62,2,2,2,33,3,3,3,'d','g','r',45,65,'23']
list1.count(3)

8

In [7]:
list1.count('d'[0:])

2

In [9]:
list1.count('23'[0:])

1

In [12]:
list1.count(3,[0:])

SyntaxError: invalid syntax (3193503873.py, line 1)

In [11]:
list1.count(3)

8

## list comprehension

In [15]:
list1=[1,3,5,4,2] # [1,3,5,4,2]
for i in list1:
    print(i)

1
3
5
4
2

In [17]:
list1=[1,3,5,4,2] # [10,30,50,40,20]
for i in list1:
    print(i*10)

10
30
50
40
20

In [19]:
list1=[1,3,5,4,2] # [10,30,50,40,20]
list2=[]
for i in list1:
    list2.append(i*10)
    print(list2)

[10]
[10, 30]
[10, 30, 50]
[10, 30, 50, 40]
[10, 30, 50, 40, 20]

In [2]:
list1=[1,3,5,4,2,3] # [10,30,50,40,20,30]
list2=[]
for i in list1:
    list2.append(i*10)
print(list2)

[10, 30, 50, 40, 20, 30]

In [16]:
[i for i in list1]  #[result   for loop  if statement]

[1, 3, 5, 4, 2]

In [18]:
[i*10 for i in list1]

[10, 30, 50, 40, 20]

In [2]:
list1=[1,3,5,4,2,3]
for i in list1:
    if i%2==0:
        print(i)

4
2

In [6]:
list1=[1,3,5,4,2,3]
list2=[]
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[4, 2]

In [13]:
list1=[1,3,5,4,2,3]
list2=[]
for i in list1:
    if i%2==0:
        list2.append(i)
        print(list2)

[4]
[4, 2]

In [14]:
[i for i in list1 if i%2==0]

[4, 2]

In [15]:
[i for i in list1 if i%2==0]

[4, 2]

## Nested list

Nested list is nothing but a list or lists inside or within another list.
for eg. [2,3,[3,4,[3,4,5,]5,6,],4,5,6,6] its total length is >> 7

In [5]:
a=[2,3,[3,4,[3,4,5],5,6],4,5,6,6]

In [6]:
len(a)

7

In [3]:
list1=[1,3,5,4,2,3,43,5,4,3,2-3,-34,43,-4,-5]
list1

[1, 3, 5, 4, 2, 3, 43, 5, 4, 3, -1, -34, 43, -4, -5]

In [4]:
len(list1)

15

In [5]:
list1=[1,3,5,4,2,3,43,5,4,3,2,-3,-34,43,-4,-5]
list1

[1, 3, 5, 4, 2, 3, 43, 5, 4, 3, 2, -3, -34, 43, -4, -5]

In [6]:
len(list1)

16

In [26]:
list1=[1,3,5,[4,2,3,43,5],4,3,2,-3,-34,43,-4,-5]
list1

[1, 3, 5, [4, 2, 3, 43, 5], 4, 3, 2, -3, -34, 43, -4, -5]

In [27]:
len(list1)

12

In [30]:
list1=[1,3,[5,4,2],3,4,3,5,4,3,2,-3,-34,43,-4,-5]
list1

[1, 3, [5, 4, 2], 3, 4, 3, 5, 4, 3, 2, -3, -34, 43, -4, -5]

In [31]:
len(list1)

15

In [7]:
list1=[1,3,[5,4,[2,3],4,3,5],4,3,2,-3,-34,43,-4,-5]
list1

[1, 3, [5, 4, [2, 3], 4, 3, 5], 4, 3, 2, -3, -34, 43, -4, -5]

In [8]:
len(list1)

11

In [38]:
list1=[1,3,5,[4,2,3,4,3],5,4,[3,2,-3],-34,43,-4,-5]
list1

[1, 3, 5, [4, 2, 3, 4, 3], 5, 4, [3, 2, -3], -34, 43, -4, -5]

In [39]:
len(list1)

11

In [33]:
list2 = [1,7,[8,5,2],6,9,3] # Nested List
list2

[1, 7, [8, 5, 2], 6, 9, 3]

In [12]:
len(list2)

6

In [45]:
list2[3]

6

In [47]:
list2[-4]

[8, 5, 2]

In [48]:
list2[2]

[8, 5, 2]

In [50]:
list2[len(list2)-4]

[8, 5, 2]

In [64]:
list2[0]

1

In [67]:
list2[-6]

1

In [56]:
list2[0]==list2[-6]

True

In [63]:
list2[0]==list2[len(list2)-6]

True

In [34]:
print(list2[0])==print(list2[len(list2)-6])

1
1

True

In [68]:
list2[1]

7

In [69]:
list2[2]

[8, 5, 2]

In [70]:
list2[2][0]

8

In [71]:
list2[2][1]

5

In [72]:
list2[2][2]

2

In [73]:
list2[2][3]

IndexError: list index out of range

In [74]:
list3 =[1, 7,[ 8, 5], 2, [6, 9], 3]

In [75]:
list3[4]

[6, 9]

In [77]:
list3[-2]

[6, 9]

In [78]:
list3[-2][1]

9

In [80]:
list3[4][1]

9