## for loop

Used for iteration over a sequence.
The sequence could be string, list, tuple, set, dict
For loop goes on till the last character in the string or last element of list/tuple/set/dict.

Syntax:
    for element in sequence:
        print(element)
        statement1
        statement2

Syntax:
    for index, element in enumerate(sequence):
        print(element)
        print(index)
        print(index, element)
        statement1
        statement2

In [2]:
re="robotics"
for letter in re:
    print(letter)

r
o
b
o
t
i
c
s

In [3]:
re='robotics'
for letter in 'robotics':
    print(letter)

r
o
b
o
t
i
c
s

In [4]:
re='robotics'
for letter in re:
    print(re)

robotics
robotics
robotics
robotics
robotics
robotics
robotics
robotics

In [5]:
re='robotics'
for i in 'robotics':
    print('robotics')

robotics
robotics
robotics
robotics
robotics
robotics
robotics
robotics

In [6]:
re='robotics'
for i in 'robotics':
    print('ugly')

ugly
ugly
ugly
ugly
ugly
ugly
ugly
ugly

In [7]:
for i in re:# we could use any element replace of i
    print(i)

r
o
b
o
t
i
c
s

In [8]:
for radha in re:
    print(radha)

r
o
b
o
t
i
c
s

In [2]:
d1_='interpreted'
for i in d1_:
    print(i.count('e'))

0
0
0
1
0
0
0
1
0
1
0

In [3]:
d1_='interpreted'
for i in d1_:
    print(d1_.count(i))

1
1
2
3
2
1
2
3
2
3
1

In [11]:
d1_='interpreted'
for i in d1_:
    print(i.upper())

I
N
T
E
R
P
R
E
T
E
D

In [29]:
d1_='interpreted'
for i in d1_:
    print(i.upper(),end="")

INTERPRETED

In [24]:
d1_

'interpreted'

In [28]:
d1_='interpreted'
for i in d1_:
    print('interpreted'.capitalize())

Interpreted
Interpreted
Interpreted
Interpreted
Interpreted
Interpreted
Interpreted
Interpreted
Interpreted
Interpreted
Interpreted

In [29]:
d1_='interpreted'
for i in d1_:
print('interpreted'.capitalize())

IndentationError: expected an indented block (2924982706.py, line 3)

In [17]:
list=[2,3,4,5,34,2,4,56,76,-6,0.5]
for element in list:
    print(element)

2
3
4
5
34
2
4
56
76
-6
0.5

In [19]:
list=[2,3,4,5,34,2,4,56,76,-6,0.5]
for i in list:
    print(i*10)

20
30
40
50
340
20
40
560
760
-60
5.0

In [18]:
list=[2,3,4,5,34,2,4,56,76,-6,0.5]
for i in list:
    print(list)

[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]

In [51]:
list=[2,3,4,5,34,2,4,56,76,-6,0.5]
for i in list:
    print(i==i*1)

True
True
True
True
True
True
True
True
True
True
True

In [1]:
list=[2,3,4,5,34,2,4,56,76,-6,0.5]
for i in list:
    print(list*10)

[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]
[2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5, 2, 3, 4, 5, 34, 2, 4, 56, 76, -6, 0.5]

In [21]:
list2='monday','tuesday','wednessday','thursday','friday','saturday','sunday'
for day in list2:
    print(day)

monday
tuesday
wednessday
thursday
friday
saturday
sunday

In [23]:
list2='monday','tuesday','wednessday','thursday','friday','saturday','sunday'
for day in list2:
    print(day,len(day))

monday 6
tuesday 7
wednessday 10
thursday 8
friday 6
saturday 8
sunday 6

In [24]:
list2='monday','tuesday','wednessday','thursday','friday','saturday','sunday'
for day in list2:
    print(day,len(list2))

monday 7
tuesday 7
wednessday 7
thursday 7
friday 7
saturday 7
sunday 7

In [25]:
list2='monday','tuesday','wednessday','thursday','friday','saturday','sunday'
for day in list2:
    print(list2,len(list2))

('monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday') 7
('monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday') 7
('monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday') 7
('monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday') 7
('monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday') 7
('monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday') 7
('monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday') 7

In [34]:
list2=['monday','tuesday','wednessday','thursday','friday','saturday','sunday']
for day in list2:
    print(day,len(list2))

monday 7
tuesday 7
wednessday 7
thursday 7
friday 7
saturday 7
sunday 7

In [36]:
list2=['monday','tuesday','wednessday','thursday','friday','saturday','sunday']
for day in list2:
    print(list2,len(list2))

['monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday'] 7
['monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday'] 7
['monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday'] 7
['monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday'] 7
['monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday'] 7
['monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday'] 7
['monday', 'tuesday', 'wednessday', 'thursday', 'friday', 'saturday', 'sunday'] 7

In [27]:
i=range(20)
for j in i:
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [30]:
i=range(0,20)
for j in i:
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [43]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [32]:
i=range(3,23)
for j in i:
    print(j)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [31]:
i=range(0,20)
for j in i:
    print(i)

range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)
range(0, 20)

In [41]:
i=range(0,21)
for j in range(0,21,3):
    print(j)

0
3
6
9
12
15
18

In [42]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [4]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

range(5) = range(0,5) = range(0,5,1) # all are same

range(20)# 0,1,2,3,.....,19
range(0,20,1)#0,1,2,3,.....,19
range(0,20,3)# 0,3,6,9,.....
range(1,20,1) # 1,2,3,....,19
range(0,20,2)# 0,2,4,....
range(1,20,2)# 1,3,5,7,.....,19

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

In [46]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [47]:
for i in range(0,5,1):
    print(i)

0
1
2
3
4

WAP to have a list of even and odd numbers in between 1 to 20 with the help of range function.

In [18]:
[i for i in range(0,21,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
[i for i in range(1,21,2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
[i for i in range(3,34,2)]

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

In [37]:
a='i love my india'

In [38]:
a

'i love my india'

In [10]:
print('i love my india ',end='ram')

i love my india ram

In [32]:
print('i love my india ',end="")

i love my india

In [35]:
even_list=[]
for i in range(0,21,2):
    even_list.append(i)
    print(even_list)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
even_list=[]
for i in range(0,21,2):
    even_list.append(i)
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
odd_list=[]
for i in range(1,21,2):
    odd_list.append(i)
    print(odd_list)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [5]:
odd_list=[]
for i in range(1,21,2):
    odd_list.append(i)
    print(odd_list)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [4]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
odd_list=[]
for i in list1:
    if i%2==1:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
odd_list=[]
for i in list1:
    if i%2==1:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
odd_list=[]
for i in list1:
    if i%2==1:
        odd_list.append(i)
    print(odd_list)

[1]
[1]
[1, 3]
[1, 3]
[1, 3, 5]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
even_list=[]
for i in list1:
    if i%2==0:
        even_list.append(i)
    print(even_list)

[]
[2]
[2]
[2, 4]
[2, 4]
[2, 4, 6]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
even_list=[]
for i in list1:
    if i%2==0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [1]:
even_list=[]
for i in range(0,21,2):
    print()
    print('iteration number is',i)
    even_list.append(i)
    print(even_list)

iteration number is 0
[0]

iteration number is 2
[0, 2]

iteration number is 4
[0, 2, 4]

iteration number is 6
[0, 2, 4, 6]

iteration number is 8
[0, 2, 4, 6, 8]

iteration number is 10
[0, 2, 4, 6, 8, 10]

iteration number is 12
[0, 2, 4, 6, 8, 10, 12]

iteration number is 14
[0, 2, 4, 6, 8, 10, 12, 14]

iteration number is 16
[0, 2, 4, 6, 8, 10, 12, 14, 16]

iteration number is 18
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

iteration number is 20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
odd_list=[]
even_list=[]
for i in list1:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print('even_list',even_list)
print('odd_list',odd_list)

even_list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd_list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [2]:
even_list=[]
odd_list=[]
for i in range(0,21):
    if i%2==1:
        odd_list.append(i)
    else:
        even_list.append(i)
print('even_list',even_list)
print('odd_list',odd_list)

even_list [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd_list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
a=int(input('enter your number '))
even_list=[]
odd_list=[]
for i in range(0,a):
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print('even_list',even_list)
print('odd_list',odd_list)

enter your number 24
even_list [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
odd_list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [22]:
a=int(input('enter your number'))
even_list=[]
odd_list=[]
for i in a:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print('even_list',even_list)
print('odd_list',odd_list)

enter your number24

TypeError: 'int' object is not iterable

In [22]:
odd =[]
for i in range(1,20,2):
    odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
for i in range(5):# 0,1,2,3,4
    print(i)

0
1
2
3
4

In [24]:
for i in range(5):#0,1,2,3,4
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [25]:
for i in range(5):#0,1,2,3,4
    print('We are in for loop')

We are in for loop
We are in for loop
We are in for loop
We are in for loop
We are in for loop

In [26]:
for i in range(5):# 0,1,2,3,4
    print('We are learning Python')
    print('We are in for loop')

We are learning Python
We are in for loop
We are learning Python
We are in for loop
We are learning Python
We are in for loop
We are learning Python
We are in for loop
We are learning Python
We are in for loop

In [27]:
for i in range(5):# 0,1,2,3,4
    print('We are learning Python')
    print('We are in for loop')
    print()

We are learning Python
We are in for loop

We are learning Python
We are in for loop

We are learning Python
We are in for loop

We are learning Python
We are in for loop

We are learning Python
We are in for loop

In [5]:
for i in range(5):# 0,1,2,3,4
    print(f'Iteration no. is {i}')
    print('We are learning Python')
    print('We are in for loop')
    print()

Iteration no. is 0
We are learning Python
We are in for loop

Iteration no. is 1
We are learning Python
We are in for loop

Iteration no. is 2
We are learning Python
We are in for loop

Iteration no. is 3
We are learning Python
We are in for loop

Iteration no. is 4
We are learning Python
We are in for loop

In [6]:
for i in range(5):# 0,1,2,3,4
    print(f'Iteration no. is {i+1}')
    print('We are learning Python')
    print('We are in for loop')
    print()

Iteration no. is 1
We are learning Python
We are in for loop

Iteration no. is 2
We are learning Python
We are in for loop

Iteration no. is 3
We are learning Python
We are in for loop

Iteration no. is 4
We are learning Python
We are in for loop

Iteration no. is 5
We are learning Python
We are in for loop

In [1]:
str2 = 'Data'

In [25]:
index = 0
for i in str2:
    print(i, index)
    index = index + 1# index+=1

D 0
a 1
t 2
a 3

In [26]:
index=2
for i in str2:
    print(index,i)
    index=index+1

2 D
3 a
4 t
5 a

In [27]:
index=2
for i in str2:
    index+=1
    print(index,i)

3 D
4 a
5 t
6 a

In [28]:
index=2
for i in str2:
    print(index,i)
    index+=1

2 D
3 a
4 t
5 a

In [34]:
index=2
index+=1
for i in str2:
    print(index,i)

3 D
3 a
3 t
3 a

In [35]:
index=2
index=index+1
for i in str2:
    print(index,i)

3 D
3 a
3 t
3 a

In [36]:
for index, element in enumerate(str2):
    print(element)

D
a
t
a

In [37]:
for index,element in enumerate(str2):
    print(index)

0
1
2
3

In [39]:
for index,element in enumerate(str2):
    print(index,element)

0 D
1 a
2 t
3 a

In [2]:
for element,index in enumerate(str2):
    print(index,element)

D 0
a 1
t 2
a 3

In [41]:
for index, element in enumerate(str2):
    print(index,':' element)

SyntaxError: invalid syntax (386035680.py, line 2)

In [51]:
for element, index in enumerate(str2):
    print(index,':', element)

D : 0
a : 1
t : 2
a : 3

In [52]:
for element, index in enumerate(str2):
    print(index,':', element)

D : 0
a : 1
t : 2
a : 3

In [53]:
for element,index in enumerate(str2):
    print(index,':',element)

D : 0
a : 1
t : 2
a : 3

list2 = [1,2,1,3,1,4,3,4]
O/P   >> [1,2,3,4]

In [54]:
list2 = [1,2,1,3,1,4,3,4]
without_duplicates = []
for element in list2:
    if element not in without_duplicates:
        without_duplicates.append(element)
    print(without_duplicates)

[1]
[1, 2]
[1, 2]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [29]:
list2 = [1,2,1,3,1,4,3,4]
without_duplicates = []
for element in list2:
    if element not in without_duplicates:
        without_duplicates.append(element)
print(without_duplicates)

[1, 2, 3, 4]

In [5]:
list2 = [1,2,1,3,1,4,3,4]
without_duplicates = []
duplicates = []
for element in list2:
    if element not in without_duplicates:
        without_duplicates.append(element)
    else:
        duplicates.append(element)
print('without_duplicates',without_duplicates)
print('duplicates',duplicates)

without_duplicates [1, 2, 3, 4]
duplicates [1, 1, 3, 4]

In [32]:
list2 = [1,2,1,3,1,4,3,4]

dup=[]# the elements which are getting repeat in our list
new=[]
for i in list2:
    if i not in new:
        new.append(i)
    else:
        dup.append(i)
print("Unique is:",new)
print("Unique is:",dup)

Unique is: [1, 2, 3, 4]
Unique is: [1, 1, 3, 4]

## loop control statement

1. break
2. continue
3. pass

In [1]:
list2 = [2.5,2,1,5.3,'Python',6, 'Velocity']
for i in list2:
    print(i)

2.5
2
1
5.3
Python
6
Velocity

### 1.break

It breaks a loop wherever we make use of it.
Simply used to break the loop.

In [19]:
print(list2)

[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity']

In [32]:
for i in list2:
    print(i) # print before has taken so its showing 5.3 beacuse first it is printing and then its compare and
                                         #at certain point condition matches its breaking the loop at that printed value
    if i == 5.3:
        break

2.5
2
1
5.3

In [85]:
for i in list2:
    if i==5.3:
        break
    print(i) # print after has taken so its not showing 5.3 beacuse first it is compare and then printing
                                         #at certain point condition matches its breaking the loop at that printed value

2.5
2
1

In [7]:
for i in list2:
    if i==5.3:
        break
print(i)

5.3

In [10]:
for i in list2:
    print(i)
    if i == 'Python':
        break

2.5
2
1
5.3
Python

In [24]:
for i in list2:
    if i=='Python':
        break
    print(i)

2.5
2
1
5.3

In [21]:
for i in list2:
    print(i)
    if i=='python':# case sensitive small p used
        break

2.5
2
1
5.3
Python
6
Velocity

In [27]:
for i in range(0,7):
    print(i)
    break

0

In [8]:
for i in range(0,7):
    break
    print(i)

In [9]:
for i in range(0,7):
    print(i)
    break

0

In [6]:
list2 = [2.5,2,1,5.3,'Python',6, 'Velocity']

In [7]:
for i in range(len(list2)):# 0,1,2,3,4,5,6
    list2.append(1)
print(list2)

# [2.5, 2, 1, 5.3, 'Python', 6, 'Velocity']

[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1, 1, 1, 1, 1]

In [19]:
for i in range(len(list2)):
    list2.append(1)
    print(list2)

[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1, 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1, 1, 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1, 1, 1, 1, 1]

In [17]:
for i in range(len(list2)):
    print(list2)
    list2.append(1)

[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity']
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1, 1, 1]
[2.5, 2, 1, 5.3, 'Python', 6, 'Velocity', 1, 1, 1, 1, 1, 1]

In [10]:
list2 = [2.5,2,1,5.3,'Python',6, 'Velocity']

In [34]:
for i in range(len(list2)):
    print(list2)
list2.append(1)

[1, 2, 1, 3, 1, 4, 3, 4]
[1, 2, 1, 3, 1, 4, 3, 4]
[1, 2, 1, 3, 1, 4, 3, 4]
[1, 2, 1, 3, 1, 4, 3, 4]
[1, 2, 1, 3, 1, 4, 3, 4]
[1, 2, 1, 3, 1, 4, 3, 4]
[1, 2, 1, 3, 1, 4, 3, 4]
[1, 2, 1, 3, 1, 4, 3, 4]

### 2.continue

It is used to stop/skip only the current iteration and again continue with the next iteration.

In [27]:
list2 = [2.5,2,1,5.3,'Python',6, 'Velocity']

In [30]:
for i in list2:
    if i==5.3:
        continue
    print(i)

2.5
2
1
Python
6
Velocity

In [31]:
for i in list2:
    if i==5.3:
        continue
print(i)

Velocity

In [34]:
for i in list2:
    print(i)
    if i==5.3:
        continue

2.5
2
1
5.3
Python
6
Velocity

In [36]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [37]:
for i in range(5):
    print(i)
    if i==3:
        continue

0
1
2
3
4

In [38]:
for i in range(5):
    if i==3:
        print(F'yes i ={i} is not printing')
        continue
    print(i)

0
1
2
yes i =3 is not printing
4

In [45]:
for i in range(5):
    if i==3:
        print(F'yes i ={i} is not printing')
        continue
    print(i,end=' ')

0 1 2 yes i =3 is not printing
4

In [41]:
for i in range(25):
    if i%2==0 or i%5==0:
        print(f'yes i iscompletely divisible my {2},or {5}')
        continue
    print(i)

yes i iscompletely divisible my 2,or 5
1
yes i iscompletely divisible my 2,or 5
3
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
7
yes i iscompletely divisible my 2,or 5
9
yes i iscompletely divisible my 2,or 5
11
yes i iscompletely divisible my 2,or 5
13
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
17
yes i iscompletely divisible my 2,or 5
19
yes i iscompletely divisible my 2,or 5
21
yes i iscompletely divisible my 2,or 5
23
yes i iscompletely divisible my 2,or 5

In [42]:
for i in range(0,26):
    if i%2==0 or i%5==0:
        print(f'yes i iscompletely divisible my {2},or {5}')
        continue
    print(i)

yes i iscompletely divisible my 2,or 5
1
yes i iscompletely divisible my 2,or 5
3
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
7
yes i iscompletely divisible my 2,or 5
9
yes i iscompletely divisible my 2,or 5
11
yes i iscompletely divisible my 2,or 5
13
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
17
yes i iscompletely divisible my 2,or 5
19
yes i iscompletely divisible my 2,or 5
21
yes i iscompletely divisible my 2,or 5
23
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5

In [43]:
for i in range(1,26):
    if i%2==0 or i%5==0:
        print(f'yes i iscompletely divisible my {2},or {5}')
        continue
    print(i)

1
yes i iscompletely divisible my 2,or 5
3
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
7
yes i iscompletely divisible my 2,or 5
9
yes i iscompletely divisible my 2,or 5
11
yes i iscompletely divisible my 2,or 5
13
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
17
yes i iscompletely divisible my 2,or 5
19
yes i iscompletely divisible my 2,or 5
21
yes i iscompletely divisible my 2,or 5
23
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5

In [47]:
for i in range(25):
    if i%2==0 or i%5==0:
        print(f'yes i iscompletely divisible my {2},or {5}')
        continue
    print(i,end='')

yes i iscompletely divisible my 2,or 5
1yes i iscompletely divisible my 2,or 5
3yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
7yes i iscompletely divisible my 2,or 5
9yes i iscompletely divisible my 2,or 5
11yes i iscompletely divisible my 2,or 5
13yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
yes i iscompletely divisible my 2,or 5
17yes i iscompletely divisible my 2,or 5
19yes i iscompletely divisible my 2,or 5
21yes i iscompletely divisible my 2,or 5
23yes i iscompletely divisible my 2,or 5

### 3.pass

It is used when the condition is true but we do not want to perform any operation.
We does use pass when the conditional statements are there inside for loop.

In [55]:
for i in range(10):
    break
    print(i)

In [58]:
for i in range(10):
    print(i)
    break

0

In [61]:
for i in range(10):
    continue
    print(i)

In [60]:
for i in range(10):
    print(i)
    continue

0
1
2
3
4
5
6
7
8
9

In [62]:
for i in range(10):
    pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [63]:
for i in range(10):
    print(i)
    pass

0
1
2
3
4
5
6
7
8
9

In [64]:
for i in range(10):
    if i%2==0:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
for i in range(10):
    print(i)
    if i%2==0:
        pass

0
1
2
3
4
5
6
7
8
9

In [72]:
for i in range(10):
    if i%2==0:
        pass
else: 
    print(i,end=' ')

9

In [74]:
for i in range(10):
    if i%2==0:
        pass
    else:
        print(i, end=' ')

1 3 5 7 9

In [75]:
for i in range(10):
    if i%2==0:
        continue
    else:
        print(i)

1
3
5
7
9

In [81]:
for i in range(10):
    if i%2==0:
        break
    else:
        print(i, end=' ')

In [79]:
for i in range(3,10):
    if i%2==0:
        break
    else:
        print(i)

3

## for else

Else block will get execute only when the for loop gets complete.

In [83]:
for i in range(5):
    print(f'i = {i}')
    print('loop is completed')

i = 0
loop is completed
i = 1
loop is completed
i = 2
loop is completed
i = 3
loop is completed
i = 4
loop is completed

In [84]:
for i in range(5):
    print(f'i = {i}')
print('loop is completed')

i = 0
i = 1
i = 2
i = 3
i = 4
loop is completed

In [86]:
for i in range(1,5):
    print(f'i = {i}')
print('loop is completed')

i = 1
i = 2
i = 3
i = 4
loop is completed

In [92]:
for i in range(5):
    if i==3:
        break
    print(i)
else:
    print('loop is completed')

0
1
2

In [12]:
for i in range(5):
    print(i)
    if i==3:
        break
else:
    print('loop is completed')

0
1
2
3

In [93]:
for i in range(1,5):
    if i==3:
        continue
    print(f' i={i}')
else:
    print('loop has completed')

 i=1
 i=2
 i=4
loop has completed

In [35]:
for i in range(1,5):
    if i==3:
        pass
    print(f' i={i}')
else:
    print('loop has completed')

 i=1
 i=2
 i=3
 i=4
loop has completed

In [37]:
for i in range(1,5):
    if i%2==0:
        pass
    print(f' i={i}')
else:
    print('loop has completed')

 i=1
 i=2
 i=3
 i=4
loop has completed

## factorial number

5! 5*4*3*2*1 / 1*2*3*4*5
3! 3*2*1 / 1*2*3

In [96]:
fact=1
for i in range(1,6):
    fact*=i
print(fact)

120

In [97]:
fact=1
for i in range(1,6):
    fact*=i
    print(fact)

1
2
6
24
120

In [98]:
for i in range(1,6):
    1*=i
print(fact)

SyntaxError: 'literal' is an illegal expression for augmented assignment (2049088676.py, line 2)

In [114]:
a=int(input('enter your number programer ',))
b=1
for i in range(1,a+1):
    b*=i # b=b*i same meaning
    print("list of factorial number is",b)

enter your number programer 6
list of factorial number is 1
list of factorial number is 2
list of factorial number is 6
list of factorial number is 24
list of factorial number is 120
list of factorial number is 720

In [112]:
a=int(input('enter your number programer ',))
b=1
c=[]
for i in range(1,a+1):
    b*=i # b=b*i same meaning
    c.append(b)
    print("list of factorial number is",c)

enter your number programer 6
list of factorial number is [1]
list of factorial number is [1, 2]
list of factorial number is [1, 2, 6]
list of factorial number is [1, 2, 6, 24]
list of factorial number is [1, 2, 6, 24, 120]
list of factorial number is [1, 2, 6, 24, 120, 720]

In [16]:
a=1,2,3,4,5,6
b=2
c=[]
for i in range(len(a)):
    m=b*i # b=b*i same meaning
    c.append(m)
    print("list of factorial number is",c)

list of factorial number is [0]
list of factorial number is [0, 2]
list of factorial number is [0, 2, 4]
list of factorial number is [0, 2, 4, 6]
list of factorial number is [0, 2, 4, 6, 8]
list of factorial number is [0, 2, 4, 6, 8, 10]

In [113]:
a=int(input('enter your number programer ',))
b=1
c=[]
for i in range(1,a+1):
    b*=i # b=b*i same meaning
    c.append(b)
print("list of factorial number is",c)

enter your number programer 6
list of factorial number is [1, 2, 6, 24, 120, 720]

In [15]:
a=eval(input('enter number '))
j = 1
if a>0:
    for i in range(1,a+1):
        j = j*i
    print(j)
elif a==0:
    print('Number is less than zero')

enter number 4
24

In [19]:
num = int(input('Enter any integer value for which you want to the factorial: '))
fact = 1
if num == 0:
    print('Factorial is 1')
elif num < 0:
    print('No Factorial')
else:
    for i in range(1,num+1):
        fact=fact*i
    print(f'factorial of {num},is',fact)

Enter any integer value for which you want to the factorial: 3
factorial of 3,is 6

## prime number

Prime number is a number which completely divisible only by 1 and itself.

In [24]:
n = int(input("Enter the number: "))
for i in range(2,n):
     if n%i == 0:
            a = 1
if a==1:
     print("number is not prime")
else:
     print("number is prime")

Enter the number: 1
number is prime

In [124]:
a = eval(input('Enter the number: '))

if type(a) == float:
    print(f'The number {a} is a float')
elif a<=0:
    print(f'The number {a} is less than or equal to zero')
elif a==1:
    print(f'The number {a} prime number')
elif a==2:
    print(f'The number {a} is a prime number')
else:
    for i in range(2,a):
        if a%i == 0:
            print(f'The number {a} is a not prime number')
            break
    else:
        print(f'The number {a} is a prime number')

Enter the number: 119
The number 119 is a not prime number

In [131]:
119%7

0

In [103]:
a=eval(input('enter your number: '))
j = 1
if type(a)==float:
    print('number is float')
elif a>0:
    for i in range(1,a+1):
        j = j*i
        print(j)
else:
    print('Number is less than zero')

enter your number: 4
1
2
6
24

In [102]:
a=eval(input('enter your number: '))
j = 1
if type(a)==float:
    print('number is float')
elif a>0:
    for i in range(1,a+1):
        j = j*i
    print(j)
else:
    print('Number is less than zero')

enter your number: 4
24

In [2]:
a='dynamical programing'
for i in a:
    print(a.count(i))

1
1
2
3
2
2
1
3
1
1
1
2
1
2
2
3
2
2
2
2

In [43]:
a='dynamical programing'
b=[]
for element in a:
    print(a.count(element),element)

1 d
1 y
2 n
3 a
2 m
2 i
1 c
3 a
1 l
1
1 p
2 r
1 o
2 g
2 r
3 a
2 m
2 i
2 n
2 g