## Fibonacci series

n = 6
0 1 1 2 3 5

n = 10
0 1 1 2 3 5 8 13 21 ...

In [1]:
n = int(input('Enter the length of fibonacci series: ')) # 6 >>0 1 1 2 3 5
first = 0 # 1, 1, 2, 3
second = 1 # 1, 2, 3, 5
print(f'Fibonacci Series is :\n', first, '\n', second)
for i in range(0,n-2):# range(0,4), 0,1,2,3
    new = first + second #0+1, 1+1, 1+2, 2+3
    first = second #1,1,2,3
    second = new #1,2,3,5
    print(new)

Enter the length of fibonacci series: 6
Fibonacci Series is :
 0
 1
1
2
3
5

In [4]:
a=int(input('enter the length of fibonacci ', ))
one=0
two=1
print(f'fibonacci series is : \n', one,'\n',two)
for i in range(0,a-1):
    new=one+two
    one=two
    two=new
    print(new)

enter the length of fibonacci 6
fibonacci series is :
 0
 1
1
2
3
5
8

In [3]:
a=int(input('enter the length of fibonacci ', ))
one=0
two=1
print(f'fibonacci series is : \n', one,'\n',two)
for i in range(0,a+1):
    new=one+two
    one=two
    two=new
    print(new)

enter the length of fibonacci 4
fibonacci series is :
 0
 1
1
2
3
5
8

In [6]:
n = int(input('enter the lenght fibonaci value ='))
print('Fibonacci series of the above number')
j = 0
k = 1
print(j)
print(k)
for i in range(0,n-2):
    l = j + k
    j = k
    k = l
    print(l)

enter the lenght fibonaci value =9
Fibonacci series of the above number
0
1
1
2
3
5
8
13
21

In [7]:
a = eval(input('Enter the number: '))
f1 = 0
f2 = 1
f3 = 0

if type(a)==float:
    print(f'The number {a} is a float')
elif a<=0:
    print('Enter an number greater than 0')
elif a==1:
    print('0')
elif a==2:
    print('0 1')
else:
    print(f'The Fibonacci series of {a} is :   {f1} {f2}', end=' ')
    for i in range(2,a):
        f3 = f1+f2
        f1 = f2
        f2 = f3
        print(f3, end =' ')

Enter the number: 6
The Fibonacci series of 6 is :   0 1 1 2 3 5

## Nested for Loop

For loop inside another for loop

for var1 in sequence1:#1
    statement1
    statement2
    for var2 in sequence2:
        statement3
        statement4

In [11]:
for i in range(5):
    print(f'i=={i}')

i==0
i==1
i==2
i==3
i==4

In [12]:
for i in range(5):
    print(f' i=={i}')
    for j in range(3):
        print(f' j =={j}')

 i==0
 j ==0
 j ==1
 j ==2
 i==1
 j ==0
 j ==1
 j ==2
 i==2
 j ==0
 j ==1
 j ==2
 i==3
 j ==0
 j ==1
 j ==2
 i==4
 j ==0
 j ==1
 j ==2

In [13]:
for i in range(5):
    print(f' i=={i}')
    for j in range(3):
        print(f' we are in nested for loop')

 i==0
 we are in nested for loop
 we are in nested for loop
 we are in nested for loop
 i==1
 we are in nested for loop
 we are in nested for loop
 we are in nested for loop
 i==2
 we are in nested for loop
 we are in nested for loop
 we are in nested for loop
 i==3
 we are in nested for loop
 we are in nested for loop
 we are in nested for loop
 i==4
 we are in nested for loop
 we are in nested for loop
 we are in nested for loop

In [14]:
for i in range(5):
    print(f' i == {i}')
    for j in range(4):
        print('nested')

 i == 0
nested
nested
nested
nested
 i == 1
nested
nested
nested
nested
 i == 2
nested
nested
nested
nested
 i == 3
nested
nested
nested
nested
 i == 4
nested
nested
nested
nested

In [15]:
for i in range(3):
    print(f'nested')
    for j in range(5):
        print(f'j=={j}')

nested
j==0
j==1
j==2
j==3
j==4
nested
j==0
j==1
j==2
j==3
j==4
nested
j==0
j==1
j==2
j==3
j==4

In [20]:
for i in range(6):
    print(f'i=={i}')
    for i in range(4):
        print(f' nested')
        print('********************')

i==0
 nested
********************
 nested
********************
 nested
********************
 nested
********************
i==1
 nested
********************
 nested
********************
 nested
********************
 nested
********************
i==2
 nested
********************
 nested
********************
 nested
********************
 nested
********************
i==3
 nested
********************
 nested
********************
 nested
********************
 nested
********************
i==4
 nested
********************
 nested
********************
 nested
********************
 nested
********************
i==5
 nested
********************
 nested
********************
 nested
********************
 nested
********************

In [21]:
for i in range(6):
    print(f'i=={i}')
    for j in range(4):
        print(f' nested')
    print('********************')

i==0
 nested
 nested
 nested
 nested
********************
i==1
 nested
 nested
 nested
 nested
********************
i==2
 nested
 nested
 nested
 nested
********************
i==3
 nested
 nested
 nested
 nested
********************
i==4
 nested
 nested
 nested
 nested
********************
i==5
 nested
 nested
 nested
 nested
********************

In [26]:
for i in range(5):
    print(f"i=={i}")
    print(f'road')
    for j in range(3):
        print(f'nested')
        print(f'dim')
        print('@@@@@@@')
    print('&&&&&&&&&&&&&&&&&&')

i==0
road
nested
dim
@@@@@@@
nested
dim
@@@@@@@
nested
dim
@@@@@@@
&&&&&&&&&&&&&&&&&&
i==1
road
nested
dim
@@@@@@@
nested
dim
@@@@@@@
nested
dim
@@@@@@@
&&&&&&&&&&&&&&&&&&
i==2
road
nested
dim
@@@@@@@
nested
dim
@@@@@@@
nested
dim
@@@@@@@
&&&&&&&&&&&&&&&&&&
i==3
road
nested
dim
@@@@@@@
nested
dim
@@@@@@@
nested
dim
@@@@@@@
&&&&&&&&&&&&&&&&&&
i==4
road
nested
dim
@@@@@@@
nested
dim
@@@@@@@
nested
dim
@@@@@@@
&&&&&&&&&&&&&&&&&&

In [23]:
for i in range(3):
    print(f'i=={i}')
    print()
    for i in range(2):
        print(f' this is second loop')
        print()
        for z in range(3):
            print('this is third loop')
            print('the end')

i==0

 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
i==1

 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
i==2

 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end
 this is second loop

this is third loop
the end
this is third loop
the end
this is third loop
the end

In [21]:
for i in range(2):
    print(f'i={i}')
    for j in 'nested':
        print(f'characters of j:',j)

i=0
characters of j: n
characters of j: e
characters of j: s
characters of j: t
characters of j: e
characters of j: d
i=1
characters of j: n
characters of j: e
characters of j: s
characters of j: t
characters of j: e
characters of j: d

In [31]:
for i in range(2):
    print(f'i == {i}')
    for j in range(3):
        print('*******')
    print()

i == 0
*******
*******
*******

i == 1
*******
*******
*******

In [12]:
for i in range(4):
    for j in range(3):
        print('nested')

nested
nested
nested
nested
nested
nested
nested
nested
nested
nested
nested
nested

In [1]:
for i in range(2): # It decides our rows >>0,1
    for j in range(3): # It decides our column >> 0,1,2
        print('*')

*
*
*
*
*
*

In [35]:
for i in range(2): # It decides our rows >>0,1
    for j in range(3): # It decides our column >> 0,1,2
        print('*', end=' ')

* * * * * *

In [2]:
for i in range(4): # It decides our rows >>0,1
    for j in range(i): # It decides our column >> 0,1,2
        print('*', end=' ')

* * * * * *

In [5]:
for i in range(2): # It decides our rows >>0,1
    for j in range(3): # It decides our column >> 0,1,2
        print('*', end=' ')
    print()

* * *
* * *

In [10]:
for i in range(5): 
    for j in range(5): 
        print('*', end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
for i in range(4):
    for j in range(3):
        print(88,)
    print()

88
88
88

88
88
88

88
88
88

88
88
88

In [39]:
for i in range(4):
    for j in range(3):
        print('88',end=' ')
    print()

88 88 88
88 88 88
88 88 88
88 88 88

In [42]:
for i in range(4):
    for j in range(3):
        print('*',end=' ')
    print()

* * *
* * *
* * *
* * *

In [46]:
for i in range(4):
    for j in range(5):
        print("@",end="")
    print()

@@@@@
@@@@@
@@@@@
@@@@@

In [17]:
for i in range(1,6):
    for j in range(i):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [19]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")

* * * * * * * * * * * * * * *

In [20]:
for i in range(1,6):
    for j in range(i):
        print("*")
    print()

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

In [6]:
for i in range(1,6):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [73]:
for i in range(1,6):
    for j in range(6-i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [5]:
for i in range(1,5):
    for j in range(1,6):
        print('1',end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [4]:
for i in range(1,6):
    for j in range(1,5):
        print('1',end=' ')
    print()

1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1

In [75]:
for i in range(1,6):
    for j in range(1,6):
        print('1',end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [83]:
for i in range(1,6):
    for j in range(1,6):
        print('A',end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [2]:
for i in range(5):
    for j in range(5):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [1]:
for i in range(5):
    for j in range(4):
        print(i,end=' ')
    print()

0 0 0 0
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [3]:
for i in range(5):
    for j in range(5):
        print(j,end=' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [14]:
for i in range(4):
    for j in range(5):
        print(j,end=' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [2]:
for i in range(4):
    for j in range(5):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3

In [4]:
for i in range(5):
    for j in range(5):
        print(j+1,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [15]:
for i in range(5):
    for j in range(5):
        print(i+1,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [5]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
k=65
for i in range(5):
    for j in range(5):
        print(chr(k),end=' ')
        k = k + 1  
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [11]:
k = 65
for i in range(6):
    for j in range(i): 
        print(chr(k),end=' ')
        k = k + 1
    print()

A
B C
D E F
G H I J
K L M N O

In [ ]:
Tip:
If shape of the pattern is same, for loop conditions will remain same. There will be change in print statement only.