# SET

set is one of data type
set is enclosed with curly bracket.
Unordered
Unindexed>> There is no use of indexing or slicing in set
Duplicates are not allowed.
Mutable
Empty set is shown as = set()
int, float, string, tuple >> These data types are allowed inside set
list, dict, set >> These are not allowed inside set

In [3]:
list1 =[ 4,5,6,2,7]
list1

[4, 5, 6, 2, 7]

In [5]:
list1[1]

5

In [6]:
list1[0]

4

In [7]:
set1={23,42,34,56,76,76,7,6}
set1

{6, 7, 23, 34, 42, 56, 76}

In [10]:
set1[1]

TypeError: 'set' object is not subscriptable

In [11]:
set1[0]

TypeError: 'set' object is not subscriptable

In [12]:
list2=[2,32,434,56,1,2,34,56,7]
set2 ={2,32,434,56,1,2,34,56,7}
print(list2,len(list2))
print(set2,len(set2))

[2, 32, 434, 56, 1, 2, 34, 56, 7] 9
{32, 1, 2, 34, 434, 7, 56} 7

# How to identify data types with there symbols

# empty list:[],element list[12,34,56,45,'ram','sham']
tuple:(), single element(7,),multiple element(23,45,67,'amit,'sham')
str:''," ",""" """,''' '''.
empty set:set(), set{1,2,3,4},single element{3}
empty dict:{}, dict {key:value}

In [1]:
set1={}
type(set1)

dict

In [9]:
set1={2,3,45,6}
type(set1)

set

In [27]:
set1={2}
type(set1)

set

In [3]:
set2=set()
type(set2)

set

In [4]:
set3=(2,)
type(set3)

tuple

In [10]:
set3=(2,3,4)
type(set3)

tuple

In [8]:
set4=()
type(set4)

tuple

In [7]:
set5=[]
type(set5)

list

In [11]:
set5=[1.3,34,5,4,6]
type(set5)

list

In [1]:
set5=[1.3,34,5,4,6,'ram','sham']
type(set5)

list

In [12]:
set6='ram lal pyare'
type(set6)

str

In [13]:
set6="ram lal pyare"
type(set6)

str

In [14]:
set6="""ram lal pyare"""
type(set6)

str

In [22]:
key='ram'
value=45
dict1 = {key:value}
type(dict1)

dict

In [23]:
dict1 = {'ram':45}
type(dict1)

dict

In [24]:
dict1 = {key:value}
dict2 = {key1:value1, key2: value2} 
type(dict2)

NameError: name 'key1' is not defined

In [26]:
set3 = {2,3,5,[1,2],{4}}
set3

TypeError: unhashable type: 'list'

In [28]:
set3 = {2,3,5,{4}}
set3

TypeError: unhashable type: 'set'

In [30]:
list2 =[4,2,1,'Python',(2,4),5.2, 5.5,0 , True, 1, False]
print(list2, len(list2))

[4, 2, 1, 'Python', (2, 4), 5.2, 5.5, 0, True, 1, False] 11

In [29]:
set1 = {4,2,1,'Python',(2,4),5.2, 5.5,0 , True, 1, False}
print(set1, len(set1))

{0, 1, 2, (2, 4), 4, 5.2, 5.5, 'Python'} 8

here it is considering
True=1
False=0

In [31]:
set1 = {4,2,'Python',(2,4),5.2, 5.5,0 , True, False}
print(set1, len(set1))

{0, True, 2, (2, 4), 4, 5.2, 5.5, 'Python'} 8

In [33]:
set1 = {4,2,'Python',(2,4),5.2, 5.5, True, False}
print(set1, len(set1))

{False, True, 2, (2, 4), 4, 5.2, 5.5, 'Python'} 8

## Set Constructor

In [34]:
list2 =[4,2,1,'Python',(2,4),5.2, 5.5,0 , True, 1, False]
print(list2, len(list2))

[4, 2, 1, 'Python', (2, 4), 5.2, 5.5, 0, True, 1, False] 11

In [35]:
# List to set
list2 =[4,2,1,'Python',(2,4),5.2, 5.5,0 , True, 1, False]
set1 = set(list2)
set1

{(2, 4), 0, 1, 2, 4, 5.2, 5.5, 'Python'}

In [36]:
#tuple to set
tup = (1,4,2,7,8,9,1,0,3)
set2 = set(tup)
set2

{0, 1, 2, 3, 4, 7, 8, 9}

In [38]:
#string to set
string = 'setmet'
set3 = set(string)
set3

{'e', 'm', 's', 't'}

In [39]:
string2 = 'python'
set3 = set(string2)
set3

{'h', 'n', 'o', 'p', 't', 'y'}

In [74]:
string2 = 'set'
set3 = set(string2)
set3

{'e', 's', 't'}

In [40]:
number = 23,23,34,45,767,67,78
number1 = set(number)
number1

{23, 34, 45, 67, 78, 767}

In [42]:
number_float = 23,23,34.5,45,767,0.67,.4,78.4
number1_float = set(number_float)
number1_float

{0.4, 0.67, 23, 34.5, 45, 78.4, 767}

In [4]:
dict1={'ram':67}
set2=set(dict1)
print(set2,type(set2))

{'ram'} <class 'set'>

## Accessing Set Element

In [47]:
set1 = {4,2,'Python',(2,4),5.2, 5.5,0 , True, False,1}

In [48]:
set1

{(2, 4), 0, 2, 4, 5.2, 5.5, 'Python', True}

In [49]:
set1[0]

TypeError: 'set' object is not subscriptable

In [51]:
set1[5]

TypeError: 'set' object is not subscriptable

In [52]:
for element in set1:
    print(element)

0
True
2
(2, 4)
4
5.2
5.5
Python

In [1]:
list1 = [1,4,1,7,5,1,2,5]
list2 = set(list1)
list2

{1, 2, 4, 5, 7}

# Set Functions

In [ ]:
1. add()
2. update()
3. union()
4. remove()
5. discard()
6. pop()
7. clear()
8. del
1. intersection()
2. intersection_update()
3. difference()
4. difference_update()
5. symetric_difference()
6. symetric_difference_update()
7. issubset()
8. issuperset()
9. isdisjoint()
10. Any()
11. All()

## 1.add()

Used to add only one element in a set
set.add(element)

In [56]:
set1 = {1,5,2,4,3,6}
print(set1,'\n', id(set1))

{1, 2, 3, 4, 5, 6}
 2556130264448

In [57]:
set1.add(10)
print(set1,'\n', id(set1))

{1, 2, 3, 4, 5, 6, 10}
 2556130264448

In [8]:
set2={2,3,23,43,5,44,544,55,55,657}
print(set2, '\n',id(set2),len(set2))

{544, 2, 3, 5, 43, 44, 657, 23, 55}
 2993309565664 9

In [9]:
set2.add(23)
print(set2,'\n',id(set2),len(set2))

{544, 2, 3, 5, 43, 44, 657, 23, 55}
 2993309565664 9

In [11]:
set2.add(2)
print(set2,'\n',id(set2),len(set2))

{544, 2, 3, 5, 43, 44, 657, 23, 55}
 2993309565664 9

In [2]:
set1={34,4,33,23,56}
set1.add(345543)
print(set1,'\n',id(set1))

{33, 34, 345543, 4, 23, 56}
 1771355535168

In [14]:
set1

{4, 23, 33, 34, 56, 345543}

In [15]:
id(set1)

2993337390912

In [16]:
set2=set1
set2

{4, 23, 33, 34, 56, 345543}

In [86]:
set2=set1.add(228)
print(set2)

None

In [1]:
set1={34,4,33,23,56}
set11=set1.add(345543)
print(set11,'\n',id(set11))

None
 140737157373144

In [3]:
sub = {'math','phy','bio'}
sub

{'bio', 'math', 'phy'}

In [6]:
a1=sub.add('ram')
print(a1)

None

In [3]:
sub.add('chem')
sub

{'bio', 'chem', 'math', 'phy'}

## 2.update()

used to add the another set.

In [4]:
sub = {'math','phy','bio'}
sub1 = {'chem', 'phy'}

In [5]:
sub.update(sub1)

In [6]:
sub

{'bio', 'chem', 'math', 'phy'}

In [7]:
sub.update(sub1)
print(sub)
print(sub1)

{'bio', 'math', 'chem', 'phy'}
{'chem', 'phy'}

In [30]:
set1 = {1,4,5}
set2 = {2,0,8}

In [32]:
set1.update(set2)
print(set1)
print(set2)

{0, 1, 2, 4, 5, 8}
{0, 8, 2}

In [18]:
set1 = {1,4,5}
set2 = {2,0,8}
set3=set1.update(set2)
print(set3)

None

## 3.union()

It add the elements of both the sets. and we need a third variable here.

In [15]:
set1 = {1,4,5}
set2 = {2,0,8}
set3=set1.union(set2)
set3

{0, 1, 2, 4, 5, 8}

In [3]:
sub2 = {'math','phy','bio'}
sub1 = {'chem', 'phy'}

In [4]:
sub2.union(sub1)
sub2

{'bio', 'math', 'phy'}

In [21]:
sub3=sub2.union(sub1)
print(sub3)

{'bio', 'phy', 'chem', 'math'}

# Delet

## 1.remove()

set.remove(element)
used to remove a perticular element from the set.

In [42]:
set1={34,4,33,23,56}

In [43]:
set1.remove(4)
set1

{23, 33, 34, 56}

In [44]:
set1

{23, 33, 34, 56}

In [45]:
set1.remove(4)
set1

KeyError: 4

In [23]:
set1={34,4,33,23,56,34,5,4}
set1.remove(34)
set1

{4, 5, 23, 33, 56}

In [49]:
set1={34,4,33,23,56,7}
ele = 7
if ele in set1:
    set1.remove(ele)
print(set1)

{33, 34, 4, 23, 56}

In [52]:
set1={34,4,33,23,56,7}
ele = 6
if ele in set1:
    set1.remove(ele)
    print(' available')
else:
    print('not available')

not available

## 2.discard()

used to remove a perticular element from the set. If the element is not in set, it will not through any error.

In [53]:
set1={34,4,33,23,56}
set1.discard(34)

In [54]:
set1

{4, 23, 33, 56}

In [55]:
set1.discard(7)
set1

{4, 23, 33, 56}

In [56]:
set1.remove(7)
set1

KeyError: 7

In [59]:
set1={34,4,33,23,56,7}
ele = 4
if ele in set1:
    set1.discard(ele)
    print(set1)
else:
    print('not available')

{33, 34, 23, 7, 56}

In [24]:
set1={34,4,33,23,56,7}
ele = 7
if ele in set1:
    set1.discard(ele)
    print(set1)
else:
    print('not available')

{33, 34, 4, 23, 56}

## 3.pop()

It will remove any random element
set.pop()

In [60]:
set1={34,4,33,23,56}
set1.pop()

33

In [61]:
set1.pop()

34

In [63]:
print(set1)

{4, 23, 56}

In [64]:
set1

{4, 23, 56}

In [65]:
sub = {'math','phy','bio'}
sub.pop()

'bio'

In [66]:
sub

{'math', 'phy'}

In [5]:
sub = {'math','phy','bio'}
sub.pop(0)

TypeError: set.pop() takes no arguments (1 given)

In [68]:
sub = {'math','phy','bio'}
sub.pop('phy')

TypeError: set.pop() takes no arguments (1 given)

## 4.clear()

Used to remove all the elements inside set.
It simply gives us an empty set.
set.clear()

In [70]:
sub = {'math','phy','bio'}
sub.clear()
sub

set()

In [71]:
set3 = {1, 2, 4,'chem', 'phy', 5, 8}
set3.clear()
set3

set()

## 5.del()

It delete the set.

In [72]:
set3 = {1, 2, 4,'chem', 'phy', 5, 8}
del(set3)

In [73]:
set3

NameError: name 'set3' is not defined

In [74]:
set1={34,4,33,23,56}
set1.pop()
set1

{4, 23, 34, 56}

In [75]:
set1.remove(4)
set1

{23, 34, 56}

In [76]:
set1.discard(23)
set1

{34, 56}

In [78]:
set1.clear()
set1

set()

In [79]:
del set
set

NameError: name 'set' is not defined

## 1.intersection()

It gives the common elements from both the sets. We need a third variable to store a result.

In [28]:
set1 = {1,2,3,4,5}
set2 = {5,3,4,2,8}
intersected_set = set1.intersection(set2)
intersected_set

{2, 3, 4, 5}

In [42]:
set1={23,43,54,6,78,55,2}
set2={23,43,54,36,7,8,2,4}
set3=set1.intersection(set2)
print(set3)

{2, 43, 54, 23}

In [30]:
set1={23,43,54,6,78,55,2}
set2={23,43,54,36,7,8,2,4}
set1.intersection(set2)
print(set1)

{2, 55, 6, 23, 54, 43, 78}

In [31]:
set1={23,43,54,6,78,55,2}
set2={23,43,54,36,7,8,2,4}
set3=set1.intersection(set2)
print(set1)
print(set2)
print(set3)

{2, 55, 6, 23, 54, 43, 78}
{2, 36, 4, 7, 8, 43, 54, 23}
{2, 43, 54, 23}

In [34]:
set1 = {1,2,3,4,5}
set2 = {10,15,8}
intersected_set = set1.intersection(set2)
intersected_set

set()

## 2.intersection_update()

It gives the common elements from both the sets. and it will update the set on which we have applied this function. There is no need of any third variable.

In [36]:
set1 = {1,2,3,4,5}
set2 = {5,3,4,2,8}
set1.intersection_update(set2)
set1

{2, 3, 4, 5}

In [40]:
set1={23,43,54,6,78,55,2}
set2={23,43,54,36,7,8,2,4}
set2.intersection_update(set1)
set2

{2, 23, 43, 54}

In [41]:
print(set2)

{2, 43, 54, 23}

In [45]:
set1={23,43,54,6,78,55,2}
set2={23,43,54,36,7,8,2,4}
set2.intersection_update(set1)
print(set1)
print(set2)

{2, 55, 6, 23, 54, 43, 78}
{2, 43, 54, 23}

In [67]:
set1={23,43,54,6,78,55,2}
set2={23,43,54,36,7,8,2,4}
set2.intersection_update(set1)
set1.intersection_update(set2)
print(set2)
print(set1)

{2, 43, 54, 23}
{2, 43, 54, 23}

In [43]:
set1={23,43,54,6,78,55,2}
set2={23,43,54,36,7,8,2,4}
set3=set1.intersection_update(set2)
print(set3)

None

In [44]:
set1={23,43,54,6,78,55,2}
set2={23,43,54,36,7,8,2,4}
print(set1)
print(set2)
set3=set1.intersection_update(set2)
print(set3)

{2, 55, 6, 23, 54, 43, 78}
{2, 36, 4, 7, 8, 43, 54, 23}
None

In [47]:
set1 = {1,2,3,4,5}
set2 = {10,15,8}
set1.intersection_update(set2)
set1

set()

## 3.difference()

It gives unique elements from the set., Need third variable.
but those unique varible gives from applied variables only

In [48]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
diff = set1.difference(set2)
diff

{1, 4, 5}

In [7]:
set1={1,2,3,4,5}
set2={10,3,15,2,8}
set3=set2.difference(set1)
print(set3)

{8, 10, 15}

In [53]:
set1={1,2,3,4,5}
set2={10,3,15,2,8}
print(set1)
print(set2)
set3=set2.difference(set1)
print(set3)

{1, 2, 3, 4, 5}
{2, 3, 8, 10, 15}
{8, 10, 15}

In [54]:
set1={1,2,3,4,5}
set2={10,3,15,2,8}
set2.difference(set1)
print(set2)

{2, 3, 8, 10, 15}

In [57]:
city = {'pune', 'Banglore', 'Mumbai','Delhi'}
city1 = {'Pune', 'Manglore'}
diff1 = city.difference(city1) # case sensitive
diff1

{'Banglore', 'Delhi', 'Mumbai', 'pune'}

In [58]:
city = {'pune', 'Banglore', 'Mumbai','Delhi'}
city1 = {'Pune', 'Manglore'}
diff1 = city.intersection(city1)
diff1

set()

In [55]:
set1={1,2,3,4,5}
set2={3,4,2}
set3=set2.difference(set1)
print(set3)

set()

## 4.difference_update

It gives the unique elements from the set and update the same in the set on which we apply the function. And there is no need of any third variable.

In [61]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set1.difference_update(set2)
set1

{1, 4, 5}

In [63]:
set1={1,2,3,4,5}
set2={10,3,15,2,8}
set2.difference_update(set1)
print(set2)

{8, 10, 15}

In [66]:
set1={12,1,2,34,45,}
set2={12,3,4,56,77,78}
set1.difference_update(set2)
print(set1)
print(set2)

{1, 2, 34, 45}
{3, 4, 56, 12, 77, 78}

In [69]:
set1={12,1,2,34,45,}
set2={12,3,4,56,77,78}
set1.difference_update(set2)
set2.difference_update(set1)
print(set1)
print(set2)

{1, 2, 34, 45}
{3, 4, 56, 12, 77, 78}

In [65]:
set1=[12,1,2,34,45,]
set2=[12,3,4,56,77,78]
set1.difference_update(set2)
print(set1)
print(set2)

AttributeError: 'list' object has no attribute 'difference_update'

In [68]:
set1={1,2,3,4,5}
set2={1,2,3,4,5}
set2.difference_update(set1)
print(set2)

set()

In [64]:
set1={1,2,3,4,5}
set2={10,3,15,2,8}
set3=set2.difference_update(set1)
print(set3)

None

## 5.symmetric_difference()

It gives unique elements from both the sets. Need of third variable.

In [70]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
sd = set1.symmetric_difference(set2)
sd

{1, 4, 5, 8, 10, 15}

In [73]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set3= set2.symmetric_difference(set1)
set3

{1, 4, 5, 8, 10, 15}

In [74]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set2.symmetric_difference(set1)
set2

{2, 3, 8, 10, 15}

In [75]:
set1 = {1,2,3,4,5}
set2 = {3,2,4}
set3= set2.symmetric_difference(set1)
set3

{1, 5}

In [2]:
set1 = {1,2,3,4,5}
set2 = {3,2,4}
print(set1)
print(set2)
set3= set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 4, 5}
{2, 3, 4}
{1, 5}

In [77]:
set1 = {1,2,3,4,5}
set2 = {3,2,4}
set3= set1.symmetric_difference(set1)
set3

set()

In [78]:
set1 = {2,3,4}
set2 = {3,2,4}
set3= set1.symmetric_difference(set1)
set3

set()

In [71]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi'}
city1 = {'Pune', 'Manglore'}
sd1 = city.symmetric_difference(city1)
sd1

{'Banglore', 'Delhi', 'Manglore', 'Mumbai'}

## 6.symmetric_difference_update()

It gives unique elements from both the sets.no need of third variable

In [79]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi'}
city1 = {'Pune', 'Manglore'}
city.symmetric_difference_update(city1)
print(city)
print(city1)

{'Delhi', 'Manglore', 'Mumbai', 'Banglore'}
{'Pune', 'Manglore'}

In [80]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi'}
city1 = {'Pune', 'Manglore'}
city1.symmetric_difference_update(city)
print(city)
print(city1)

{'Mumbai', 'Banglore', 'Delhi', 'Pune'}
{'Delhi', 'Manglore', 'Mumbai', 'Banglore'}

In [82]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set1.symmetric_difference_update(set2)
set1

{1, 4, 5, 8, 10, 15}

In [84]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set2.symmetric_difference_update(set1)
set2

{1, 4, 5, 8, 10, 15}

In [85]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set2.symmetric_difference_update(set1)
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{1, 4, 5, 8, 10, 15}

In [1]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set2.symmetric_difference_update(set1)
set1.symmetric_difference_update(set2)
print(set2)
print(set1)

{1, 4, 5, 8, 10, 15}
{2, 3, 8, 10, 15}

In [3]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi'}
city1 = {'Pune', 'Manglore'}
city1.symmetric_difference_update(city)
city.symmetric_difference_update(city1)
print(city)
print(city1)

{'Pune', 'Manglore'}
{'Delhi', 'Manglore', 'Mumbai', 'Banglore'}

In [5]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set2.symmetric_difference_update(set2)
print(set2)

set()

In [6]:
set1 = {2,3,8}
set2 = {3,2,8}
set2.symmetric_difference_update(set2)
print(set2)

set()

## 7.issubset()

True/False
True >> If all the elements of one set are there in another set.

In [7]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set1.issubset(set2)

False

In [19]:
set1 = {1,2,3,4,5}
set2 = {10,3,15,2,8}
set2.issubset(set1)

False

In [17]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5}
set1.issubset(set2)

True

In [18]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5}
set2.issubset(set1)

True

In [8]:
set1 = {2,3}
set2 = {10,3,15,2,8}
set1.issubset(set2)

True

In [9]:
set1 = {2,3}
set2 = {10,3,15,2,8}
set2.issubset(set1)

False

In [154]:
set1 = {2,4}
set2 = {10,3,15,2,8}
set2.issubset(set1)

False

In [155]:
set1 = {2,4}
set2 = {10,3,15,2,8}
set1.issubset(set2)

False

In [10]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi','Manglore'}
city1 = {'Pune', 'Manglore'}
city.issubset(city1)

False

In [11]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi','Manglore'}
city1 = {'Pune', 'Manglore'}
city1.issubset(city)

True

## 8.issuperset

True/False
is set2 is superset of set1 means set2 supposed to have all the elements from set1 as well.

In [13]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi','Manglore'}
city1 = {'Pune', 'Manglore'}
city.issuperset(city1)

True

In [12]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi','Manglore'}
city1 = {'Pune', 'Manglore'}
city1.issuperset(city)

False

In [14]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi','Manglore'}
city1 = {'Pune', 'Manglore','nashik'}
city.issuperset(city1)

False

In [16]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi','Manglore'}
city1 = {'Pune', 'Manglore','nashik'}
city1.issuperset(city)

False

## 9.isdisjoint()

True/False
True>> When there is no single common elements in both the sets.

In [29]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi','Manglore'}
city1 = {'Pune', 'Manglore'}
city.isdisjoint(city1)

False

In [30]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi','Manglore'}
city1 = {'Pune', 'Manglore'}
city1.isdisjoint(city)

False

In [32]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi'}
city1 = {'latur', 'Manglore'}
city.isdisjoint(city1)

True

In [31]:
city = {'Pune', 'Banglore', 'Mumbai','Delhi'}
city1 = {'latur', 'Manglore'}
city1.isdisjoint(city)

True

In [33]:
set1 = {1,4,5}
set2 = {10,3,15,2,8}
set1.isdisjoint(set2)

True

In [37]:
set1={45,3,45,66,3}
set2={23,56,7,88,9}
set2.isdisjoint(set1)

True

In [38]:
set1={}
set2={}
set2.isdisjoint(set1)

AttributeError: 'dict' object has no attribute 'isdisjoint'

# min(),max(),sum(),len()

In [40]:
set1={1,2,3,4,5,6,7,8,9,0}
set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
min(set1)

0

In [42]:
max(set1)

9

In [43]:
sum(set1)

45

In [44]:
len(set1)

10

In [106]:
set1 = {10,3,15,2,8}
sum(set1)

38

In [107]:
set1 = {10,3,15,2,8,10}
sum(set1)

38

In [108]:
set1 = {10,3,15,2,8,10,15,3,2}
sum(set1)

38

# mean(),median(),mode()

mean >> average (sum of total/total numbers)
median >> after sorting whatever value comes at middle place 
mode >> maximum repeated element.

In [46]:
from statistics import mean,mode,median

In [54]:
set1 = {10,3,15,2,8,1,7,4,1,1,5,2,22}
set1

{1, 2, 3, 4, 5, 7, 8, 10, 15, 22}

In [55]:
mean(set1)

7.7

In [56]:
median(set1)

6.0

In [57]:
mode(set1)

1

In [82]:
set1={3, 4, 5, 7, 8, 10}
set1

{3, 4, 5, 7, 8, 10}

In [83]:
mean(set1)

6.166666666666667

In [84]:
mode(set1)

3

In [85]:
median(set1)

6.0

# any

True/False
True >>1,2,3,45,6,-4,-3,4.5,67.5,0.5.
False >>0
True >> When at lease one element from the set is true.

In [87]:
set1 = {10,3,15,2,8,1,7,4,1,1}

In [88]:
any(set1)

True

In [89]:
set2 = {0,0, False}
any(set2)

False

In [90]:
set2 = {0,0, False,1}
any(set2)

True

In [91]:
set2 = {0,0, False,2,3}
any(set2)

True

In [92]:
set2 = {0,0, False,57}
any(set2)

True

In [94]:
set2 = {0,0, False,3.5}
any(set2)

True

In [96]:
set2 = {0,0, False,-5}
any(set2)

True

In [93]:
set2 = {0,0, False,2,3.5}
any(set2)

True

In [95]:
set2 = {0,0, False,2,3.5,-5}
any(set2)

True

In [97]:
set2 = {0,0, False,0.4}
any(set2)

True

In [98]:
set2 = {0,0, False,-0.4}
any(set2)

True

# all

True/False
True>> When all the elements are true

In [99]:
set1 = {10,3,15,2,8,1,7,4,1,1}

In [100]:
all(set1)

True

In [101]:
set1 = {10,3,15,2,8,1,7,4,1,0}
all(set1)

False

In [102]:
set1 = {10,3,15,2,8,1,False,4,1,0}
all(set1)

False

In [103]:
set1 = {False,0,3.5}
all(set1)

False

In [104]:
set1 = {3.5}
all(set1)

True

In [105]:
set={-9.4}
all(set1)

True

# Frozenset

set:
    Mutable, Unordered, unindexed, duplicates are not allowed.
Frozenset:
    Immutable, Unordered,unindex, Duplicates are not allowed.

In [109]:
set1 = {1,2,4,5,3}# normal set
frozen1 = frozenset({10,20,30,40}) # frozenset
print(set1, type(set1))
print(frozen1, type(frozen1))

{1, 2, 3, 4, 5} <class 'set'>
frozenset({40, 10, 20, 30}) <class 'frozenset'>

In [110]:
set1={23,43,5,6,7,78,5}
set2=frozenset({23,45,6576,78,6,-0.56,-9,7.7})
print(set1,type(set1))
print(set2,type(set2))

{23, 5, 6, 7, 43, 78} <class 'set'>
frozenset({-0.56, 6, 7.7, 45, 78, 6576, 23, -9}) <class 'frozenset'>

# Functions of Frozenset

1. union()
2. intersection()
3. difference()
4. symmetric_difference()
5. issubset()
6. issuperset()
7. isdisjoint()
8. any()
9. all()

# union()

In [114]:
set1 = frozenset({1,2,4,5,3,10})
frozen1 = frozenset({2,10,20,30,40})

In [115]:
set2=set1.union(frozen1)

In [116]:
set2

frozenset({1, 2, 3, 4, 5, 10, 20, 30, 40})

In [119]:
set3=frozen1.union(set1)
print(set3)

frozenset({1, 2, 3, 4, 5, 40, 10, 20, 30})

In [120]:
frozen1.union(set1)
print(frozen1)

frozenset({2, 20, 40, 10, 30})

# intersection()

In [123]:
set1 = frozenset({1,2,4,5,3,10})
frozen1 = frozenset({2,10,20,30,40})

In [124]:
set3=frozen1.intersection(set1)
print(set3)

frozenset({2, 10})

In [129]:
set3=set1.intersection(frozen1)
print(set3)

frozenset({2, 10})

In [133]:
set1 = frozenset({1,4,5,3})
frozen1 = frozenset({10,20,30,40})

In [134]:
set3=set1.intersection(frozen1)
set3

frozenset()

# difference()

In [125]:
set1 = frozenset({1,2,4,5,3,10})
frozen1 = frozenset({2,10,20,30,40})

In [127]:
set3=set1.difference(frozen1)
set3

frozenset({1, 3, 4, 5})

In [128]:
set3=frozen1.difference(set1)
set3

frozenset({20, 30, 40})

In [130]:
set1 = frozenset({1,4,5,3})
frozen1 = frozenset({10,20,30,40})

In [131]:
set3=set1.difference(frozen1)
set3

frozenset({1, 3, 4, 5})

In [132]:
set3=frozen1.difference(set1)
set3

frozenset({10, 20, 30, 40})

In [139]:
set1 = frozenset({1,3,4})
frozen1 = frozenset({1,4,3})
set3=set1.difference(frozen1)
set3

frozenset()

# symmetric_difference

In [136]:
set1 = frozenset({1,2,4,10})
frozen1 = frozenset({10,20,30,40})
fr3 = set1.symmetric_difference(frozen1)
fr3

frozenset({1, 2, 4, 20, 30, 40})

In [137]:
set3=frozen1.symmetric_difference(set1)
print(set3)

frozenset({1, 2, 4, 40, 20, 30})

In [138]:
set3=set1.symmetric_difference(frozen1)
print(set3)

frozenset({1, 2, 4, 40, 20, 30})

In [140]:
set1 = frozenset({1,3,4})
frozen1 = frozenset({1,4,3})
r3=set1.symmetric_difference(frozen1)
r3

frozenset()

# issubset()

In [141]:
set1 = frozenset({1,2,4,10})
frozen1 = frozenset({10,20,30,40})
set1.issubset(frozen1)

False

In [145]:
set1 = frozenset({1,2,4,10})
frozen1 = frozenset({10,20,30,40})
set3=set1.issubset(frozen1)
set3

False

In [146]:
set1 = frozenset({10,20,30,40})
frozen1 = frozenset({10,20,30,40})
set1.issubset(frozen1)

True

In [149]:
set1 = frozenset({10,20,30,40})
frozen1 = frozenset({10,20,30,40})
set1.issubset(frozen1)
print(set1)
print(frozen1)

frozenset({40, 10, 20, 30})
frozenset({40, 10, 20, 30})

In [143]:
set1 = frozenset({10,20,30,40})
frozen1 = frozenset({10,20,30,40})
fr3 = set1.issubset(frozen1)
fr3

True

In [144]:
set1 = frozenset({10,20,30,40})
frozen1 = frozenset({10,20,30,40})
fr3 = frozen1.issubset(set1)
fr3

True

# issuperset()

In [150]:
set1 = frozenset({10,20,30,40})
frozen1 = frozenset({10,20,30,40})
fr3 = frozen1.issuperset(set1)
fr3

True

In [151]:
set1 = frozenset({10,20,30,40})
frozen1 = frozenset({10,20,30,40})
fr3 = set1.issuperset(frozen1)
fr3

True

In [152]:
set1 = frozenset({10,20,30,40,45,34})
frozen1 = frozenset({10,20,30,40})
fr3 = frozen1.issuperset(set1)
fr3

False

In [153]:
set1 = frozenset({10,20,30,40,45,34})
frozen1 = frozenset({10,20,30,40})
fr3 = set1.issuperset(frozen1)
fr3

True

# isdisjoint()

In [6]:
set1 = frozenset({1,2,4,10})
frozen1 = frozenset({10,20,30,40})
set1.isdisjoint(frozen1)

False

In [7]:
set1 = frozenset({1,2,4,5,3})
frozen1 = frozenset({10,20,30,40})
set1.isdisjoint(frozen1)

True

In [3]:
set1 = frozenset({1,2,4,5,3})
frozen1 = frozenset({10,20,30,40})
frozen1.isdisjoint(set1)

True

In [157]:
set1=1,2,3,4
for i in set1:
    print(i)

1
2
3
4

In [159]:
set1=1,2,3,4
for i in range(len(set1)):
    print(i)

0
1
2
3

In [162]:
set1=1,20,30,40
for i in range(len(set1)):
    print(i)

0
1
2
3

In [161]:
set1=1,2,3,4
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [163]:
set1 = frozenset({10,20,30,40,45,34})
frozen1 = frozenset({10,20,30,40})

In [164]:
any(set1)

True

In [165]:
any(frozen1)

True

In [166]:
all(set1)

True

In [167]:
all(frozen1)

True