# Dictionary

Dict = {key1: value1, key2: value2}
1. It is a collection of key value pair.
2. We can not access the elements by using index.
3. Duplicate keys are not allowed, but duplicate value can be allowed.
4. Dictionary elements are comma seperated.
5. It is enclosed with curly bracket.
6. Dictionary is mutable.

Ordered >> if python >=3.7
Unordered >> if python < 3.7
keys >> immutable datatypes >> int, float, string, tuple, frozenset
values >> Any datatype

In [1]:
dict1 = {'a':1}
dict1

{'a': 1}

In [2]:
dict1 = {'a':1, 'b':2, 'c':3}
dict1

{'a': 1, 'b': 2, 'c': 3}

In [3]:
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1, type(dict1))

{'a': 1, 'b': 2, 'c': 3} <class 'dict'>

In [4]:
dict1={'ram':'sham',"sham":"ram",'ram sham':'sham ram'}
print(dict1)

{'ram': 'sham', 'sham': 'ram', 'ram sham': 'sham ram'}

In [43]:
dict1={'ram':'78',"sham":"ram",'ram sham':'56 ram'}
print(dict1)

{'ram': '78', 'sham': 'ram', 'ram sham': '56 ram'}

In [44]:
dict1={'78':'sham',"sham":"ram",'ram 78':'sham ram'}
print(dict1)

{'78': 'sham', 'sham': 'ram', 'ram 78': 'sham ram'}

In [54]:
dict1={'ram':89,"sham":"ram",'ram sham':93 }
print(dict1)

{'ram': 89, 'sham': 'ram', 'ram sham': 93}

In [1]:
dict1={89:'ram',"sham":"ram",'ram 89':93 }
print(dict1)

{89: 'ram', 'sham': 'ram', 'ram 89': 93}

In [5]:
dict1={89:'ram',"sham":"ram",'ram 89':{94} 'sham'}
print(dict1)

SyntaxError: invalid syntax (1400458917.py, line 1)

In [7]:
dict1 = {'a':1, 'a':2, 'c':3}
dict1

{'a': 2, 'c': 3}

In [14]:
dict1 = {'a':3, 'a':2, 'c':3}
dict1

{'a': 2, 'c': 3}

In [19]:
dict1 = {'a':6, 'a':7, 'c':3}
dict1

{'a': 7, 'c': 3}

In [30]:
dict1 = {'a':6, 'b':7, 'a':3}
dict1

{'a': 3, 'b': 7}

In [32]:
dict1 = {'b':6, 'b':7, 'a':3,'d':34,'f':97,'b':34}
dict1

{'b': 34, 'a': 3, 'd': 34, 'f': 97}

In [20]:
dict1={'a':23,'b':54,'c':67}
dict1

{'a': 23, 'b': 54, 'c': 67}

In [16]:
dict1={'ram':'sham',"sham":"ram"}
print(dict1)

{'ram': 'sham', 'sham': 'ram'}

In [33]:
dict1 = {'a':1, 'b':1, 'c':3}
dict1

{'a': 1, 'b': 1, 'c': 3}

In [34]:
dict1 = {'a':6454, 'b':1746, 'c':6454}
dict1

{'a': 6454, 'b': 1746, 'c': 6454}

In [35]:
dict1 = {'a':6454, 'b':6454, 'c':6454}
dict1

{'a': 6454, 'b': 6454, 'c': 6454}

In [36]:
dict1 = {'a':1, 'b':1, 'c':3, [2,3]:100}
dict1

TypeError: unhashable type: 'list'

In [55]:
dict1 = {'a':1, 'b':1, 'c':3, (100):[2,3]}
dict1

{'a': 1, 'b': 1, 'c': 3, 100: [2, 3]}

In [56]:
dict1 = {'a':1, 'b':1, 'c':3, frozenset({45}):[2,3]}
dict1

{'a': 1, 'b': 1, 'c': 3, frozenset({45}): [2, 3]}

In [57]:
dict1 = {'a':1, 'b':1, 'c':3, 4.5:[2,3]}
dict1

{'a': 1, 'b': 1, 'c': 3, 4.5: [2, 3]}

In [37]:
dict1 = {'a':1, 'b':1, 'c':3, 100:[2,3]}
dict1

{'a': 1, 'b': 1, 'c': 3, 100: [2, 3]}

In [39]:
dict1 = {'a':1, 'b':1, 'c':3, 100:(2,3)}
dict1

{'a': 1, 'b': 1, 'c': 3, 100: (2, 3)}

In [40]:
dict1 = {'a':1, 'b':1, 'c':3, 100:{2,3}}
dict1

{'a': 1, 'b': 1, 'c': 3, 100: {2, 3}}

In [41]:
dict1 = {'a':1, 'b':1, 'c':3, 100:{2:3}}
dict1

{'a': 1, 'b': 1, 'c': 3, 100: {2: 3}}

In [42]:
dict1 = {'a':1, 'b':[2, 3], 'c':3, 100:[2,3]}
dict1

{'a': 1, 'b': [2, 3], 'c': 3, 100: [2, 3]}

# Dictionary Functions

dictionary_name[key]
1. get()
2. keys()
3. values()
4. items()
5. update()
6. pop()
7. popitem()
8. clear()
9. del
10.fromkeys()
11.setdefault()
12.copy()
13.zip()

# Accessing the Elements in dictionary

In [2]:
dict2 = {'name':'Arti', 'age':24, 'Marks':95, 'Place':'Pune'}
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

# 1.dictionary_name[keyname]

syntax >> dictionary_name[key]

In [4]:
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [3]:
dict2['name']

'Arti'

In [4]:
dict2['marks']

KeyError: 'marks'

In [41]:
dict2 = {'name':'Arti', 'age':24, 'Marks':95, 'Place':'Pune'}
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [10]:
dict2['Place']

'Pune'

In [11]:
dict2['age']

24

In [12]:
dict2['Marks']

95

# 2.get()

Syntax >> dictionary_name.get(key)

In [13]:
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [14]:
dict2.get('name')

'Arti'

In [15]:
dict2.get('age')

24

In [20]:
dict2.get('age','name')

24

dict2.get('name') = dict2['name']

In [19]:
dict2.get('Place')

'Pune'

# 3.keys()

Syntax >> dictionary_name.keys()

In [31]:
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [21]:
dict2.keys()

dict_keys(['name', 'age', 'Marks', 'Place'])

In [3]:
dict2.keys('name')

TypeError: dict.keys() takes no arguments (1 given)

In [28]:
dict1={23:'red',34:'green'}
dict1

{23: 'red', 34: 'green'}

In [29]:
dict1.keys()

dict_keys([23, 34])

# 4.values()

Syntax >> dictionary_name.values()

In [30]:
dict1.values()

dict_values(['red', 'green'])

In [32]:
dict2.values()

dict_values(['Arti', 24, 95, 'Pune'])

# 5.items()

Syntax >> dictionary_name.items()

In [42]:
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [7]:
dict2.items()

dict_items([('name', 'Arti'), ('age', 24), ('Marks', 95), ('Place', 'Pune')])

In [9]:
list1 = dict2.items()
list1

dict_items([('name', 'Arti'), ('age', 24), ('Marks', 95), ('Place', 'Pune')])

In [10]:
for i in list1:
    print(i)

('name', 'Arti')
('age', 24)
('Marks', 95)
('Place', 'Pune')

In [13]:
for i in dict2.items():
    print(i)

('name', 'Arti')
('age', 24)
('Marks', 95)
('Place', 'Pune')

In [4]:
for i in dict2:
    print(dict2.items())
    break

dict_items([('name', 'Arti'), ('age', 24), ('Marks', 95), ('Place', 'Pune')])

In [11]:
for k,m in list1:
    print(k,m)

name Arti
age 24
Marks 95
Place Pune

In [12]:
for k,m in list1:
    print(k,':', m)

name : Arti
age : 24
Marks : 95
Place : Pune

In [14]:
for key in dict2.keys():
    print(key)

name
age
Marks
Place

In [15]:
for values in dict2.values():
    print(values)

Arti
24
95
Pune

In [16]:
for items in dict2.items():
    print(items)

('name', 'Arti')
('age', 24)
('Marks', 95)
('Place', 'Pune')

In [19]:
for "age" in dict2.get('age'):
    print(age)

SyntaxError: cannot assign to literal (481298932.py, line 1)

# Adding Elements in Dictionary

In [43]:
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [44]:
dict2['Marks'] = 90 # we have changed the value of one key called 'Marks'

In [45]:
dict2

{'name': 'Arti', 'age': 24, 'Marks': 90, 'Place': 'Pune'}

In [46]:
dict2['place']='Latur'
print(dict2,end=' ')

{'name': 'Arti', 'age': 24, 'Marks': 90, 'Place': 'Pune', 'place': 'Latur'}

In [47]:
print(dict2)

{'name': 'Arti', 'age': 24, 'Marks': 90, 'Place': 'Pune', 'place': 'Latur'}

In [49]:
dict2['sub'] = 'Math'
print(dict2)

{'name': 'Arti', 'age': 24, 'Marks': 90, 'Place': 'Pune', 'place': 'Latur', 'sub': 'Math'}

In [50]:
dict2['sub']='physics'

In [52]:
print(dict2)

{'name': 'Arti', 'age': 24, 'Marks': 90, 'Place': 'Pune', 'place': 'Latur', 'sub': 'physics'}

In [54]:
dict2['sub']='physics'

In [56]:
print(dict2)

{'name': 'Arti', 'age': 24, 'Marks': 90, 'Place': 'Pune', 'place': 'Latur', 'sub': 'physics'}

In [77]:
for i in dict2['sub']='physics':
    print(i)

SyntaxError: invalid syntax (994782396.py, line 1)

# update()

In [57]:
dict3 = {'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}
dict3

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [58]:
dict3.update({'lives':'bombay'})

In [59]:
dict3

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune', 'lives': 'bombay'}

In [60]:
dict3 = {'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}
dict3

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [61]:
dict3.update({'sub': 'Math', 'result':'pass'})
dict3

{'name': 'Arti',
 'age': 24,
 'Marks': 95,
 'Place': 'Pune',
 'sub': 'Math',
 'result': 'pass'}

In [71]:
dict3.update({34:54,"34":"54",(34,):[54],frozenset({34}):{34}})
dict3

{'name': 'Arti',
 'age': 24,
 'Marks': 95,
 'Place': 'Pune',
 'sub': 'Math',
 'result': 'pass',
 34: 54,
 '34': '54',
 (34,): [54],
 frozenset({34}): {34}}

In [73]:
for i in dict3.update():
    print(i)

TypeError: 'NoneType' object is not iterable

In [1]:
dict1 = {}
list1 = ['Ayesha', 'Akash','Ayub','Abhijit']
list2 = [50, 55, 40, 45]
# dict1 = {'Ayesha':50, 'Akash':55,'Ayub':40,'Abhijit':45}

In [2]:
for i, name in enumerate(list1): # 0,1,2,3 ... 'Ayesha', 'Akash','Ayub','Abhijit'
#     print(i, name)
    dict1[name] = list2[i] # dict1['Ayesha'] = 50
    print(dict1)

{'Ayesha': 50}
{'Ayesha': 50, 'Akash': 55}
{'Ayesha': 50, 'Akash': 55, 'Ayub': 40}
{'Ayesha': 50, 'Akash': 55, 'Ayub': 40, 'Abhijit': 45}

In [12]:
list1=['ram','sham','ganesh','ramesh','akshay']
list2=[23,43,56,54,67]
for i,element in enumerate(list1):
    dict2={}
    dict2[element]=list2[i]
    print(dict2)

{'ram': 23}
{'sham': 43}
{'ganesh': 56}
{'ramesh': 54}
{'akshay': 67}

In [5]:
dict2={}
list1=['ram','sham','ganesh','ramesh','akshay']
list2=[23,43,56,54,67]
for i,element in enumerate(list1):
    dict2[element]=list2[i]
    print(dict2)

{'ram': 23}
{'ram': 23, 'sham': 43}
{'ram': 23, 'sham': 43, 'ganesh': 56}
{'ram': 23, 'sham': 43, 'ganesh': 56, 'ramesh': 54}
{'ram': 23, 'sham': 43, 'ganesh': 56, 'ramesh': 54, 'akshay': 67}

In [18]:
list1=['ram','sham','ganesh','ramesh','akshay']
list2=[23,43,56,54,67]
dict1={}

In [19]:
for i, name in enumerate(list1):
    dict1.update({name:list2[i]})
print(dict1)

{'ram': 23, 'sham': 43, 'ganesh': 56, 'ramesh': 54, 'akshay': 67}

In [20]:
list2[0]

23

In [21]:
list2[1]

43

# How to delete the elements from the dictionary

## 1.pop()

it delete the mention key in pop and delete its value as well.
syntax >> dict.pop(key)

In [23]:
dict2 = {'name':'Arti', 'age':24, 'Marks':95, 'Place':'Pune'}
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [25]:
dict2.pop('name')
dict2

{'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [26]:
dict2.pop('age','marks')
dict2

{'Marks': 95, 'Place': 'Pune'}

In [28]:
dict2.pop('Place')
dict2

{'Marks': 95}

## 2.popitem()

it delete the last inserted element in the dictionary.
syntax >> dict.popitem()

In [30]:
dict2 = {'name':'Arti', 'age':24, 'Marks':95, 'Place':'Pune'}
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [31]:
dict2.popitem()

('Place', 'Pune')

In [32]:
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95}

In [33]:
dict2.popitem('name')

TypeError: dict.popitem() takes no arguments (1 given)

## 3.clear()

it clears the dictionary
syntax >> dict.clear()

In [34]:
dict2 = {'name':'Arti', 'age':24, 'Marks':95, 'Place':'Pune'}
dict2

{'name': 'Arti', 'age': 24, 'Marks': 95, 'Place': 'Pune'}

In [35]:
dict2.clear()
dict2

{}

In [36]:
print(dict2)

{}

In [37]:
list1=['ram','sham','ganesh','ramesh','akshay']

In [38]:
dict2.clear()
dict2

{}

## 4.del()

it deletes the whole dictionary
syntax >> del(dict)

In [52]:
employee_details = {'name': 'Aditya',
                    'Age':27,
                     'Company':'Zensar',
                     'Designation':'Data Scientist',
                     'Salary':85000,
                     'Location':'Pune'}
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune'}

In [53]:
del employee_details['Salary']

In [54]:
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Location': 'Pune'}

In [55]:
del employee_details['Location']
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist'}

In [56]:
del employee_details
employee_details

NameError: name 'employee_details' is not defined

# Nested Dictionary

dictionary inside another dictionary

In [57]:
employee_details = {'name': 'Aditya',
                    'Age':27,
                     'Company':'Zensar',
                     'Designation':'Data Scientist',
                     'Salary':85000,
                     'Location':'Pune'}
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune'}

In [58]:
len(employee_details)

6

In [64]:
employee_details = {'Z001': {'name': 'Aditya',
                            'Age':27,
                            'Company':'Zensar',
                            'Designation':'Data Scientist',
                            'Salary':85000,
                            'Location':'Pune'}}
employee_details

{'Z001': {'name': 'Aditya',
  'Age': 27,
  'Company': 'Zensar',
  'Designation': 'Data Scientist',
  'Salary': 85000,
  'Location': 'Pune'}}

In [65]:
employee_details['Z001']

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune'}

In [66]:
employee_details['Z001']['name']

'Aditya'

In [87]:
employee_details = {'Z001': {'name': 'Aditya',
                            'Age':27,
                            'Company':'Zensar',
                            'Designation':'Data Scientist',
                            'Salary':85000,
                            'Location':'Pune'},
                    'Z002': {'name': 'Aditya',
                            'Age':27,
                            'Company':'Zensar',
                            'Designation':'Data Scientist',
                            'Salary':85000,
                            'Location':'Pune'},
                    'Z003': {'name': 'Aditya',
                            'Age':27,
                            'Company':'Zensar',
                            'Designation':'Data Scientist',
                            'Salary':85000,
                            'Location':'Pune'}}
employee_details
len(employee_details)

3

In [73]:
employee_details['Z001']["Designation"][0]

'D'

In [74]:
employee_details['Z001']["Designation"][8]

'e'

In [75]:
employee_details['Z001']["Designation"][1:6]

'ata S'

In [89]:
employee_details['Z001'][2][1]

KeyError: 2

In [93]:
employee_details = {'Z001': {'name': 'Aditya',
                            'Age':27,
                            'Designation':'Data Scientist',
                            'Salary':85000,
                            'Location':'Pune'},
                    'Z002': {'name': 'Arti',
                            'Age':28,
                            'Designation':'Machine Learning Engineer',
                            'Salary':87000,
                            'Location':'Pune'},
                    'Z003': {'name': 'Abhijit',
                            'Age':29,
                            'Designation':'Python Developer',
                            'Salary':[90000,89000,80000,75000],
                            'Location':'Pune'}}

employee_details['Z003']['Salary'].append(72000)
employee_details

{'Z001': {'name': 'Aditya',
  'Age': 27,
  'Designation': 'Data Scientist',
  'Salary': 85000,
  'Location': 'Pune'},
 'Z002': {'name': 'Arti',
  'Age': 28,
  'Designation': 'Machine Learning Engineer',
  'Salary': 87000,
  'Location': 'Pune'},
 'Z003': {'name': 'Abhijit',
  'Age': 29,
  'Designation': 'Python Developer',
  'Salary': [90000, 89000, 80000, 75000, 72000],
  'Location': 'Pune'}}

In [95]:
employee_details = {'Z001': {'name': 'Aditya',
                            'Age':27,
                            'Designation':'Data Scientist',
                            'Salary':85000,
                            'Location':'Pune'},
                    'Z002': {'name': 'Arti',
                            'Age':28,
                            'Designation':'Machine Learning Engineer',
                            'Salary':87000,
                            'Location':'Pune'},
                    'Z003': {'name': 'Abhijit',
                            'Age':29,
                            'Designation':'Python Developer',
                            'Salary':[90000,89000,80000,75000],
                            'Location':'Pune'}}

employee_details['Z003']['Salary'].append(7244560)
employee_details

{'Z001': {'name': 'Aditya',
  'Age': 27,
  'Designation': 'Data Scientist',
  'Salary': 85000,
  'Location': 'Pune'},
 'Z002': {'name': 'Arti',
  'Age': 28,
  'Designation': 'Machine Learning Engineer',
  'Salary': 87000,
  'Location': 'Pune'},
 'Z003': {'name': 'Abhijit',
  'Age': 29,
  'Designation': 'Python Developer',
  'Salary': [90000, 89000, 80000, 75000, 7244560],
  'Location': 'Pune'}}

In [99]:
employee_details['Z003']['Salary']

[90000, 89000, 80000, 75000, 7244560]

# fromkeys()

Syntax:
    dict.fromkeys(sequence, val)
default value is None.

In [100]:
name = ['Ayesha', 'Akash','Ayub','Abhijit']

In [101]:
dict3=dict.fromkeys(name)

In [102]:
dict3

{'Ayesha': None, 'Akash': None, 'Ayub': None, 'Abhijit': None}

In [103]:
dict3 = dict.fromkeys(name,95)
dict3

{'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}

In [105]:
dict4=dict.fromkeys(name,34,95)

TypeError: fromkeys expected at most 2 arguments, got 3

In [106]:
dict4=dict.fromkeys(name,34)

In [107]:
dict4

{'Ayesha': 34, 'Akash': 34, 'Ayub': 34, 'Abhijit': 34}

In [115]:
name = ['Ayesha', 'Akash','Ayub','Abhijit']
dict4 = {}
# {'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}
for i in name:
    dict4[i]=95
    print(dict4)

{'Ayesha': 95}
{'Ayesha': 95, 'Akash': 95}
{'Ayesha': 95, 'Akash': 95, 'Ayub': 95}
{'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}

In [116]:
name = ['Ayesha', 'Akash','Ayub','Abhijit']
dict4 = {}
# {'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}
for i in name:
    dict4[i]=95,54
    print(dict4)

{'Ayesha': (95, 54)}
{'Ayesha': (95, 54), 'Akash': (95, 54)}
{'Ayesha': (95, 54), 'Akash': (95, 54), 'Ayub': (95, 54)}
{'Ayesha': (95, 54), 'Akash': (95, 54), 'Ayub': (95, 54), 'Abhijit': (95, 54)}

In [125]:
name = ['Ayesha', 'Akash','Ayub','Abhijit']
dict4 = {}
for i in name:
    dict4.update({i:95})
print(dict4)

{'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}

In [4]:
name = ['Ayesha', 'Akash','Ayub','Abhijit']
for i in name:
    dict4=dict.fromkeys(name,95)
print(dict4)

{'Ayesha': 95, 'Akash': 95, 'Ayub': 95, 'Abhijit': 95}

In [127]:
result = dict.fromkeys('name',50)
result

{'n': 50, 'a': 50, 'm': 50, 'e': 50}

## setdefault()

In [128]:
employee_details = {'name': 'Aditya',
                    'Age':27,
                     'Company':'Zensar',
                     'Designation':'Data Scientist',
                     'Salary':85000,
                     'Location':'Pune'}
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune'}

In [130]:
len(employee_details)

6

In [131]:
employee_details['Salary']

85000

In [132]:
employee_details.get('Salary')

85000

In [133]:
employee_details.setdefault('Salary') # 1

85000

In [135]:
employee_details.setdefault('name')

'Aditya'

In [136]:
employee_details.setdefault('EmpID') # 2
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune',
 'EmpID': None}

In [137]:
employee_details.setdefault('power')

In [138]:
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune',
 'EmpID': None,
 'power': None}

In [139]:
employee_details.setdefault('Employee_ID', 'Z001') # 3
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune',
 'EmpID': None,
 'power': None,
 'Employee_ID': 'Z001'}

In [142]:
employee_details.setdefault('hometown',"latur")
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune',
 'EmpID': None,
 'power': None,
 'Employee_ID': 'Z001',
 'hometown': 'latur'}

## copy()

In [143]:
employee_details = {'name': 'Aditya',
                    'Age':27,
                     'Company':'Zensar',
                     'Designation':'Data Scientist',
                     'Salary':85000,
                     'Location':'Pune'}
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune'}

In [146]:
new_dict = employee_details
new_dict

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune',
 'Employee_ID': 'Z001'}

In [145]:
new_dict.update({'Employee_ID': 'Z001'})
print(new_dict)
print(employee_details)

{'name': 'Aditya', 'Age': 27, 'Company': 'Zensar', 'Designation': 'Data Scientist', 'Salary': 85000, 'Location': 'Pune', 'Employee_ID': 'Z001'}
{'name': 'Aditya', 'Age': 27, 'Company': 'Zensar', 'Designation': 'Data Scientist', 'Salary': 85000, 'Location': 'Pune', 'Employee_ID': 'Z001'}

In [150]:
employee_details.update({'cell no': 34})
print(employee_details)
print(new_dict)

{'name': 'Aditya', 'Age': 27, 'Company': 'Zensar', 'Designation': 'Data Scientist', 'Salary': 85000, 'Location': 'Pune', 'Employee_ID': 'Z001', 'cell no': 34}
{'name': 'Aditya', 'Age': 27, 'Company': 'Zensar', 'Designation': 'Data Scientist', 'Salary': 85000, 'Location': 'Pune', 'Employee_ID': 'Z001', 'cell no': 34}

In [151]:
employee_details = {'name': 'Aditya',
                    'Age':27,
                     'Company':'Zensar',
                     'Designation':'Data Scientist',
                     'Salary':85000,
                     'Location':'Pune'}
employee_details

{'name': 'Aditya',
 'Age': 27,
 'Company': 'Zensar',
 'Designation': 'Data Scientist',
 'Salary': 85000,
 'Location': 'Pune'}

In [153]:
emp = employee_details.copy()
print(emp)
print(employee_details)

{'name': 'Aditya', 'Age': 27, 'Company': 'Zensar', 'Designation': 'Data Scientist', 'Salary': 85000, 'Location': 'Pune'}
{'name': 'Aditya', 'Age': 27, 'Company': 'Zensar', 'Designation': 'Data Scientist', 'Salary': 85000, 'Location': 'Pune'}

In [154]:
emp = employee_details.copy()
emp.update({'Employee_ID': 'Z001'})
print(emp)
print(employee_details)

{'name': 'Aditya', 'Age': 27, 'Company': 'Zensar', 'Designation': 'Data Scientist', 'Salary': 85000, 'Location': 'Pune', 'Employee_ID': 'Z001'}
{'name': 'Aditya', 'Age': 27, 'Company': 'Zensar', 'Designation': 'Data Scientist', 'Salary': 85000, 'Location': 'Pune'}

In [163]:
dict1 = {}

for i in range(65,91):
    dict1.update({chr(i):i}) # {chr(65):65} {'A':65}

print(dict1)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [178]:
# dict1 = {'A':65, 'B':66......, 'Z':90}
dict1={}
for i in range(65,91):
    dict1[i]=chr(i)
print(dict1)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

In [179]:
dict2={}
for i in range(97,123):
    dict2.update({chr(i):i})
print(dict2)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [190]:
#dict3 = {1:1,2:8,...,10:1000}
#dict4 = {1:1,2:4,....,10:100}
dict1={}
dict2={}
for i in range(1,11):# 1,2,3,.....,10
    dict1[i]=i*i # dict1[1] = 1*1
    dict2[i]=i*i*i # dict2[1]= 1*1*1
print(dict1)
print(dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [195]:
dict1 = {}
for i in  range(1,11):
    dict1.update({i:i**2})
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [196]:
dict1 = {}
for i in  range(1,11):
    dict1.update({i:i*i})
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [197]:
dict1 = {}
for i in  range(1,11):
    dict1.update({i:i*i*i})
print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [198]:
dict1 = {}
for i in  range(1,11):
    dict1.update({i:i**3})
print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [199]:
dic={}
for i in range(1,11):
    b=i*i*i
    dic[i]=b
print(dic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [6]:
string = '''machine learning is a field of inquiry devoted to understanding and building 
methods that 'learn', that is, methods that leverage data to improve performance on some set of tasks. 
It is seen as a part of artificial intelllst1igence. We are learning machine learning '''

In [10]:
lst1=string.split()
dict1={}
for i in lst1:
    dict1.update({i:lst1.count(i)})
lst1=' '.join(lst1)
print(dict1)

{'machine': 2, 'learning': 3, 'is': 2, 'a': 2, 'field': 1, 'of': 3, 'inquiry': 1, 'devoted': 1, 'to': 2, 'understanding': 1, 'and': 1, 'building': 1, 'methods': 2, 'that': 3, "'learn',": 1, 'is,': 1, 'leverage': 1, 'data': 1, 'improve': 1, 'performance': 1, 'on': 1, 'some': 1, 'set': 1, 'tasks.': 1, 'It': 1, 'seen': 1, 'as': 1, 'part': 1, 'artificial': 1, 'intelllst1igence.': 1, 'We': 1, 'are': 1}

In [214]:
type(lst1)

str

In [215]:
lst1=string.split()
dict1={}
for i in lst1:
    dict1.update({i:lst1.count(i)})
print(dict1)

{'machine': 2, 'learning': 3, 'is': 2, 'a': 2, 'field': 1, 'of': 3, 'inquiry': 1, 'devoted': 1, 'to': 2, 'understanding': 1, 'and': 1, 'building': 1, 'methods': 2, 'that': 3, "'learn',": 1, 'is,': 1, 'leverage': 1, 'data': 1, 'improve': 1, 'performance': 1, 'on': 1, 'some': 1, 'set': 1, 'tasks.': 1, 'It': 1, 'seen': 1, 'as': 1, 'part': 1, 'artificial': 1, 'intelllst1igence.': 1, 'We': 1, 'are': 1}

In [216]:
type(lst1)

list

# zip()

syntax >> dict(zip(key variable,values variable))

In [1]:
name = ['Amit','Akshay','Aryan','Abhijeet']
marks = [95,96,94,92]
# {'Amit':95,'Akshay':96,'Aryan':94,'Abhijeet':92}

In [2]:
name = ['Amit','Akshay','Aryan','Abhijeet']
marks = [95,96,94,92]
dict1 = {}
for i in range(len(name)):
    dict1.update({name[i]:marks[i]})
dict1

{'Amit': 95, 'Akshay': 96, 'Aryan': 94, 'Abhijeet': 92}

In [5]:
dict(zip(name,marks))

{'Amit': 95, 'Akshay': 96, 'Aryan': 94, 'Abhijeet': 92}

In [7]:
name = ['Amit','Akshay','Aryan','Abhijeet','Pankaj']#5
marks1 = [95,96,94,92] # 4

In [8]:
dict(zip(name,marks1))

{'Amit': 95, 'Akshay': 96, 'Aryan': 94, 'Abhijeet': 92}

In [9]:
name = ['Amit','Akshay','Aryan','Abhijeet']#4
marks1 = [95,96,94,92,90] # 5

In [10]:
dict(zip(name,marks1))

{'Amit': 95, 'Akshay': 96, 'Aryan': 94, 'Abhijeet': 92}

# dictionary sorting

## 1.sorting by keys()

In [1]:
sub_marks = {'Math':95, 'Phy':80, 'Che':85, 'Bio':90, 'Eng':84}
sub_marks

{'Math': 95, 'Phy': 80, 'Che': 85, 'Bio': 90, 'Eng': 84}

In [2]:
sub_marks = {'Math':95, 'Phy':80, 'Che':85, 'Bio':90, 'Eng':84}
result = {}
sorted(sub_marks.keys())
for i in sorted(sub_marks.keys()):
    result.update({i :sub_marks[i]})
    print(result)

{'Bio': 90}
{'Bio': 90, 'Che': 85}
{'Bio': 90, 'Che': 85, 'Eng': 84}
{'Bio': 90, 'Che': 85, 'Eng': 84, 'Math': 95}
{'Bio': 90, 'Che': 85, 'Eng': 84, 'Math': 95, 'Phy': 80}

In [5]:
dict2 = {'name':'Arti', 'age':24, 'Marks':95, 'Place':'Pune'}
dict3={}
a=sorted(dict2.keys())
for i in a:
    dict3.update({i:dict2[i]})
print(dict3)

{'Marks': 95, 'Place': 'Pune', 'age': 24, 'name': 'Arti'}

In [6]:
dict2 = {'name':'Arti', 'age':24, 'marks':95, 'place':'Pune'}
dict3={}
dict2.keys()
a=sorted(dict2.keys())
for i in a:
    dict3.update({i:dict2[i]})
print(dict3)

{'age': 24, 'marks': 95, 'name': 'Arti', 'place': 'Pune'}

## 2.sorting by values

In [21]:
sub_marks = {'Math':95, 'Phy':80, 'Che':85, 'Bio':90, 'Eng':84}
Result = {}
for marks in sorted(sub_marks.values()): #[80, 84, 85, 90, 95]
    for sub in sub_marks:
        if marks == sub_marks[sub]: # 80 == 95, 80 == 80
            Result.update({sub : marks})
print(Result)

{'Phy': 80, 'Eng': 84, 'Che': 85, 'Bio': 90, 'Math': 95}

In [28]:
dict2 = {'name':'Arti', 'age':24, 'marks':95, 'place':'Pune'}
dict3={}
a=dict2.values()
b=sorted(a)
for i in b:
    for j in dict2:
        if i==dict2[j]:
            dict3.update({j:i})
print(dict3)

TypeError: '<' not supported between instances of 'int' and 'str'

In [29]:
dict2 = {'name':-2, 'age':24, 'marks':95, 'place':0.5}
dict3={}
b=sorted(dict2.values())
for i in b:
    for j in dict2:
        if i==dict2[j]:
            dict3.update({j:i})
print(dict3)

{'name': -2, 'place': 0.5, 'age': 24, 'marks': 95}