# Functions

Functions:
 
There are two types of functions
1. inbuilt functions e.g. min, max, sum, del, len,sorted,reveresed.
2. user defined functions.

Functions:
    Function is a block of code that can call or we can use wherever we want to use. 
    Functions are organized block of codes which are reusable.
    It will execute only when we do call it.
    
Declaration/we write a function/we create a function
calling of a function/ using a function.

# Syntax

def function_name(parameters/Arguments): # defining a function 
    
    block of code    # block of code
    
    return           # optional we can use return only one time

function_name(parameters/Arguments)      # Calling the function to make a use of it.

def keyword is used to define a function.

In [1]:
def func():
    print('We are learning user define functions')
    return 'Hello Everyone'

In [2]:
print('We are learning user define functions')

We are learning user define functions

In [10]:
return

SyntaxError: 'return' outside function (3438313781.py, line 1)

In [11]:
func()

We are learning user define functions

'Hello Everyone'

In [12]:
func

In [13]:
def func():
    print('We are learning user define functions')
    return Hello Everyone

SyntaxError: invalid syntax (2883378984.py, line 3)

In [14]:
func()

We are learning user define functions

'Hello Everyone'

In [15]:
def func1():
    print('We are in func1')
    
def Linear_regression():
    print('Linear Regression is a supervised ML algorithm')
    
def Knn_Classifier():
    print('KNN is a distance based algorithm')
    
Linear_regression()
Knn_Classifier()
func1()

Linear Regression is a supervised ML algorithm
KNN is a distance based algorithm
We are in func1

In [16]:
def fun1():
    return 'dadus come'
def fun2():
    return('dadus come back')
def fun3():
    return('dadus come back return')
fun2()
fun2()
fun1()

'dadus come'

In [17]:
fun1()

'dadus come'

In [18]:
fun2()

'dadus come back'

In [19]:
fun3()

'dadus come back return'

In [20]:
def fun1():
    print('dadus come')
def fun2():
    print('dadus come back')
def fun3():
    print('dadus come back return')
fun1()
fun2()
fun3()

dadus come
dadus come back
dadus come back return

In [21]:
num=5
fact=1
for i in range(1,num+1):
    fact=fact*i
    print(f'factorial of {num} is {fact}')

factorial of 5 is 1
factorial of 5 is 2
factorial of 5 is 6
factorial of 5 is 24
factorial of 5 is 120

In [22]:
num = 5
fact = 1
if num < 0:
    print('Factorial is not for this number')
else:
    for i in range(1,num+1):
        fact= fact*i 
    print(f'Factorial of {num} is {fact}')

Factorial of 5 is 120

In [3]:
def factorial_num(num):
    fact = 1
    if num < 0:
        print('Factorial is not for this number')
    else:
        for i in range(1,num+1):
            fact= fact*i 
        print(f'Factorial of {num} is {fact}')

In [4]:
factorial_num(5)
factorial_num(4)
factorial_num(6)

Factorial of 5 is 120
Factorial of 4 is 24
Factorial of 6 is 720

In [25]:
factorial_num(8)

Factorial of 8 is 40320

In [26]:
num=9
factorial_num(num)

Factorial of 9 is 362880

In [27]:
num=9
factorial_num(9)

Factorial of 9 is 362880

In [28]:
num=9
factorial_num(10)

Factorial of 10 is 3628800

In [29]:
def factorial_num('9'):
    fact = 1
    if num < 0:
        print('Factorial is not for this number')
    else:
        for i in range(1,num+1):
            fact= fact*i 
        print(f'Factorial of {num} is {fact}')

SyntaxError: invalid syntax (3333803198.py, line 1)

In [30]:
def factorial_num(9):
    fact = 1
    if num < 0:
        print('Factorial is not for this number')
    else:
        for i in range(1,num+1):
            fact= fact*i 
        print(f'Factorial of {num} is {fact}')

SyntaxError: invalid syntax (1314025296.py, line 1)

In [5]:
def factorial_num(num):
    fact = 1
    if num < 0:
        print('Factorial is not for this number')
    else:
        for i in range(1,num+1):
            fact= fact*i 
print(f'Factorial of {num} is {fact}') # print statement outside the function that is why asking num is not difined

NameError: name 'num' is not defined

In [3]:
num=10
def factorial_num(num):
    fact=1
    if num < 0:
        print('Factorial is not for this number')
    else:
        for i in range(1,num+1):
            fact= fact*i 
print(f'Factorial of {num} is {fact}')

Factorial of 10 is 1

In [4]:
def factorial_num(num):
    num=10
    fact=1
    if num < 0:
        print('Factorial is not for this number')
    else:
        for i in range(1,num+1):
            fact= fact*i 
print(f'Factorial of {num} is {fact}')

Factorial of 10 is 1

In [32]:
num=10
fact=1
def factorial_num(num):
    if num < 0:
        print('Factorial is not for this number')
    else:
        for i in range(1,num+1):
            fact= fact*i 
print(f'Factorial of {num} is {fact}')

Factorial of 10 is 1

In [33]:
num=10
mul=1
for i in range(1,num+1):
    mul=mul*i
print('multiplication of {} is {}'.format(num,mul))

multiplication of 10 is 3628800

In [34]:
def muliplication_num(num):
    mul=1
    for i in range(1,num+1):
        mul=mul*i
print('multiplication of {} is {}'.format(num,mul))

multiplication of 10 is 3628800

In [35]:
def muliplication_num(num):
    mul=1
    for i in range(1,num+1):
        mul=mul*i
    print(f'multiplication of {num} is {mul}')

In [36]:
muliplication_num(5)

multiplication of 5 is 120

In [37]:
def muliplication_num(num):
    mul=1
    for i in range(1,num+1):
        mul=mul*i
    print('multiplication of {} is {}'.format(num,mul))

In [38]:
muliplication_num(5)

multiplication of 5 is 120

In [39]:
muliplication_num(5)
muliplication_num(10)
muliplication_num(15)

multiplication of 5 is 120
multiplication of 10 is 3628800
multiplication of 15 is 1307674368000

In [40]:
num=10
sum2=0
for i in range(0,num+1):
    sum2=sum2+i
    print(f'summition of {num} is {sum2}')

summition of 10 is 0
summition of 10 is 1
summition of 10 is 3
summition of 10 is 6
summition of 10 is 10
summition of 10 is 15
summition of 10 is 21
summition of 10 is 28
summition of 10 is 36
summition of 10 is 45
summition of 10 is 55

In [14]:
def addition_num(num):
    sum2=0
    for i in range(0,num+1):
        sum2=sum2+i
    print(f'summition of {num} is {sum2}')
addition_num(10)
addition_num(20)

summition of 10 is 55
summition of 20 is 210

In [15]:
addition_num(100)

summition of 100 is 5050

In [16]:
num=15
addition_num(num)

summition of 15 is 120

In [17]:
num=15
addition_num(15)

summition of 15 is 120

In [13]:
def addition():
    num = int(input('Enter the no : '))
    sum2=0
    for i in range(0,num+1):
        sum2=sum2+i
    print(f'summition of {num} is {sum2}')

In [14]:
addition()

Enter the no : 37
summition of 37 is 703

In [15]:
num=20
addition()

Enter the no : 21
summition of 21 is 231

In [8]:
def addition(ad):
    num = int(input('Enter the no : '))
    sum2=0
    for i in range(0,ad+1):
        sum2=sum2+i
    print(f'summition of {ad} is {sum2}')

In [9]:
addition(34)

Enter the no : 38
summition of 34 is 595

In [48]:
def get_sum(seq):
    print("This function is used to find the summation of the iterables")
    sum1 = 0
    for i in seq:
        sum1=sum1+i
    return sum1

In [49]:
get_sum([12,23,34,456,67,88,9])

This function is used to find the summation of the iterables

689

In [50]:
def addition(num):
    print(f'the addition of {num} is {sum1}')
    sum1=0
    for i in range(num):
        sum1=sum1+i
    return sum1

In [51]:
addition((1,2,3,4))

UnboundLocalError: local variable 'sum1' referenced before assignment

In [52]:
def mult(seq):
    result=1
    for i in seq:
        result*=i
    return result

mult((1,2,3,4))

24

In [53]:
mult((1,7,3,45))

945

In [54]:
def mult(seq):
    print('multiplication of seq is')
    result=1
    for i in seq:
        result*=i
    return result

mult((1,2,3,4))

multiplication of seq is

24

In [55]:
def mult(seq):
    print('summition of both is')
    result=0
    for i in seq:
        result=result+i
    return (f'the addition of {seq} is {result}')

mult((1,2,3,4))

summition of both is

'the addition of (1, 2, 3, 4) is 10'

In [56]:
mult((12,34,56,78))

summition of both is

'the addition of (12, 34, 56, 78) is 180'

In [57]:
def mult_sum(seq):
    mul = 1
    sum1 = 0
    for i in seq:
        mul = mul*i
        sum1= sum1+i
    return f'Multiplcation of the elements in the sequence is {mul} and summation is {sum1}.'
    print(f'the elements in the sequence are {seq} and summation is {sum1}.')

In [58]:
mult_sum({12,34,56,78})

'Multiplcation of the elements in the sequence is 1782144 and summation is 180.'

In [59]:
mult_sum({12,34,56,78})

'Multiplcation of the elements in the sequence is 1782144 and summation is 180.'

In [60]:
mult_sum([4,5,7,8,9])

'Multiplcation of the elements in the sequence is 10080 and summation is 33.'

In [61]:
list1 = [4,5,7,8,9,10,2,4]
mult_sum(list1)

'Multiplcation of the elements in the sequence is 806400 and summation is 49.'

In [62]:
mult((12,34,56,78))

summition of both is

'the addition of (12, 34, 56, 78) is 180'

In [63]:
a =mult([4,5,6,7,8])
a

summition of both is

'the addition of [4, 5, 6, 7, 8] is 30'

In [64]:
a

'the addition of [4, 5, 6, 7, 8] is 30'

In [65]:
def mult_sum(seq):
    mul = 1
    sum1 = 0
    for i in seq:
        mul = mul*i
        sum1= sum1+i
    return mul,sum1

In [66]:
mult_sum([23,4,3,56,7,8])

(865536, 101)

In [67]:
Multiplication , Summation = mult_sum([4,5,6,7,8])
print(Multiplication)
print(Summation)

6720
30

In [68]:
#fibonacci
a=0
b=1
for i in range(0,11):
    new=a+b
    a=b
    b=new
    print(new)

1
2
3
5
8
13
21
34
55
89
144

In [69]:
def fibonacci(num):
    a=0
    b=1
    for i in range(0,num+1):
        new=a+b
        a=b
        b=new
    print(new)

In [70]:
fibonacci(10)
fibonacci(18)

144
6765

In [71]:
fibonacci(13)

610

# Function Arguments

Note: We supposed to follow the same sequence always,while using all of those functions

1. Positional Arguments
2. Default Arguments
3. Arbitrary Positional Arguments
4. Arbitrary keyword Arguments

          or   

1. Positional Arguments
2. Arbitrary Positional Arguments
3. Default Arguments
4. Arbitrary keyword Arguments

# 1.Positional Arguments

no. of parameters/Arguments while creating a function == no. of parameters/Arguments while calling a function
number of parameters/arguments given while creating a function and at the time of calling the functions we should give same number of parameters/arguments.

def my_fun(parameter1, parameter2):
    print(parameter1)
    print(parameter2)
    
my_fun(arg1, arg2)

In [116]:
def addition(a):
    add=1
    add =add+a
    return add

In [117]:
addition(47)

48

In [72]:
def addition(a,b):
    print(f'a == {a} and b == {b}' )
    add = a+b
    print(f'Addition of {a} and {b} is {add}')

In [73]:
addition(45,67)

a == 45 and b == 67
Addition of 45 and 67 is 112

In [74]:
x = 10
y = 30
addition(x,y)

a == 10 and b == 30
Addition of 10 and 30 is 40

In [75]:
addition(x,y)

a == 10 and b == 30
Addition of 10 and 30 is 40

In [76]:
addition(y,x)

a == 30 and b == 10
Addition of 30 and 10 is 40

In [77]:
addition(5)

TypeError: addition() missing 1 required positional argument: 'b'

In [78]:
addition(5,4,7)

TypeError: addition() takes 2 positional arguments but 3 were given

In [79]:
factorial_num(6)

UnboundLocalError: local variable 'fact' referenced before assignment

In [80]:
factorial_num()

TypeError: factorial_num() missing 1 required positional argument: 'num'

In [81]:
factorial_num(6,12)

TypeError: factorial_num() takes 1 positional argument but 2 were given

In [118]:
def multiplication(a,b):
    print(f'multiplication of {a} and {b} is ')
    add = a*b
    return add

In [119]:
multiplication(47,89)

multiplication of 47 and 89 is

4183

In [120]:
def multiplication(a,b):
    add = a*b
    return add

In [121]:
multiplication(47,89)

4183

In [86]:
def multiplication(a,b):
    return(f'multiplication of {a} and {b} is ')
    add = a*b
    return add

In [87]:
multiplication(47,89)

'multiplication of 47 and 89 is '

In [88]:
def multiplication(a,b):
    print(f'multiplication of {a} and {b} is {add}')
    add = a*b
    return add

In [89]:
multiplication(45,76)

UnboundLocalError: local variable 'add' referenced before assignment

## 2.Default Arguments

These are the arguments which are declared in the paranthesis of a function itself.
It means if in case a user failed to pass the parameter value while calling the function, it takes the by default value provided or declared at the time of defining a function.

In [90]:
def addition(a,b): # a = 5, b = 8
    print(f'a == {a} and b == {b}' )
    add = a+b
    print(f'Addition of {a} and {b} is {add}')

In [91]:
addition(10,20)

a == 10 and b == 20
Addition of 10 and 20 is 30

In [92]:
addition(5)

TypeError: addition() missing 1 required positional argument: 'b'

In [93]:
def add1(d=20,b=10):
    print(f'd == {d} and b == {b}' )
    add = d+b
    print(f'Addition of {d} and {b} is {add}')

In [94]:
add1()

d == 20 and b == 10
Addition of 20 and 10 is 30

In [95]:
add1(54,56)

d == 54 and b == 56
Addition of 54 and 56 is 110

In [96]:
add1(12)

d == 12 and b == 10
Addition of 12 and 10 is 22

In [97]:
add1(d,34)

NameError: name 'd' is not defined

In [98]:
add1(,34)

SyntaxError: invalid syntax (114714841.py, line 1)

In [99]:
def add1(d,b=10):
    print(f'd == {d} and b == {b}' )
    add = d+b
    print(f'Addition of {d} and {b} is {add}')

In [100]:
add1(5,20)

d == 5 and b == 20
Addition of 5 and 20 is 25

In [101]:
add1(7)

d == 7 and b == 10
Addition of 7 and 10 is 17

In [102]:
add1(d,5)

NameError: name 'd' is not defined

In [103]:
add1()

TypeError: add1() missing 1 required positional argument: 'd'

In [104]:
def multiplication(b=3,a):
    return(f'multiplication of {a} and {b} is ')
    add = a*b
    return add

SyntaxError: non-default argument follows default argument (919190591.py, line 1)

In [105]:
def addition(a,b,c=25): # a,b are positional arguments, c is default argument
    print(f'a ={a}, b={b}, c={c}')
    add = a+b+c
    return add

In [106]:
addition(23,45,67)

a =23, b=45, c=67

135

In [107]:
addition(23,45)

a =23, b=45, c=25

93

# 3.Arbitrary Positional Arguments

Variable length argument
*args >> *argument
Default data type of arbitrary positional arguments is tuple
This can be used when we are not sure about the exact no. of arguments required in our function.

In [108]:
def addition(a,b,c,d,e,f,g):
    print('Our values are:', a,b,c,d,e,f,g)

In [109]:
addition(1,2,3,4,5,6,7)

Our values are: 1 2 3 4 5 6 7

In [110]:
addition(1,2,3,4,5,6)

TypeError: addition() missing 1 required positional argument: 'g'

In [111]:
def addition(*arg):
    print('Argument is:', arg)

In [112]:
addition()

Argument is: ()

In [113]:
addition(1)

Argument is: (1,)

In [114]:
addition(1,2,3,4,5,3,3,5,66)

Argument is: (1, 2, 3, 4, 5, 3, 3, 5, 66)

In [115]:
def addition(*arg):
    print('Argument is:', arg)
    add = 0
    for i in arg:
        add = add +i
    return add

In [116]:
addition(12,334,546,78)

Argument is: (12, 334, 546, 78)

970

In [117]:
def addition1(a,b,*arg):
    print('Arguments are:',a,b, arg)

In [118]:
addition1(12,334)

Arguments are: 12 334 ()

In [119]:
addition1(12,334,0)

Arguments are: 12 334 (0,)

In [120]:
addition1(12,334,546,78)

Arguments are: 12 334 (546, 78)

In [121]:
addition1(4)

TypeError: addition1() missing 1 required positional argument: 'b'

In [122]:
def addition1(*arg,a,b):# **a
    print('Arguments are:',a,b, arg)

In [123]:
addition1(1,4,2,5,6,78,3)

TypeError: addition1() missing 2 required keyword-only arguments: 'a' and 'b'

In [124]:
def addition1(*arg):
    print('Arguments are:',arg)

In [125]:
addition1(1,4,2,5,6,78,3)

Arguments are: (1, 4, 2, 5, 6, 78, 3)

In [126]:
def addition1(a=50,b=10,*arg):
    print('Arguments are:',a,b,arg)

In [127]:
addition1(1,4,2,5,6,78,3)

Arguments are: 1 4 (2, 5, 6, 78, 3)

In [128]:
def addition1(*arg,a=50,b=10):
    print('Arguments are:',arg,a,b)

In [129]:
addition1(1,4,2,5,6,78,3)

Arguments are: (1, 4, 2, 5, 6, 78, 3) 50 10

In [130]:
addition1((1,4,5,23,6,7),55,14) # it will not work

Arguments are: ((1, 4, 5, 23, 6, 7), 55, 14) 50 10

In [131]:
def multiplication(a,b,*arg):
    print(f'multiplication of {a} {b} and is')
    mul=a*b
    return mul

In [132]:
multiplication(12,34)

multiplication of 12 34 and is

408

In [15]:
def multiplication(a,b,*arg):
    print(f'multiplication of {a} {b} and is')
    mul=a*b*(*arg)
    return mul

SyntaxError: can't use starred expression here (1400579354.py, line 3)

In [134]:
def multiplication(a,b,*arg):
    print(f'multiplication of {a} {b} and is')
    mul=a*b
    return mul,arg

In [135]:
multiplication(12,34,23,45,6,57,8,6)

multiplication of 12 34 and is

(408, (23, 45, 6, 57, 8, 6))

# 4.Arbitrary keyword Arguments

**kwarg >> Key word Argument
Variable length argument
Default data type of arbitrary keyword arguments is  dictionary.
we uses this agruements whenever we need to get key values.

In [136]:
def key(**kwarg):
    print('Arguments are: ',kwarg)

In [137]:
key(phy =95,chem=85,math=97)

Arguments are:  {'phy': 95, 'chem': 85, 'math': 97}

In [138]:
def result(**kwarg):
    print('Details are: ',kwarg)
    average = sum(kwarg.values())/len(kwarg)
    print('average is: ', average)

In [139]:
result(phy =95,chem=85,math=97,bio=87)

Details are:  {'phy': 95, 'chem': 85, 'math': 97, 'bio': 87}
average is:  91.0

In [140]:
def my_function(a,b,c=10,d=20,*arg,**kwarg):
    print(f'Positional arguments are {a} {b}')
    print(f'Default arguments are {c} {d}')
    print(f'Arbitary arguments are {arg}')
    print(f'Arbitory Keyword arguments are {kwarg}')
    
my_function(14,8,2,8,6,2,4,8,6,5, x=10,y=20)

Positional arguments are 14 8
Default arguments are 2 8
Arbitary arguments are (6, 2, 4, 8, 6, 5)
Arbitory Keyword arguments are {'x': 10, 'y': 20}

In [141]:
def function(a,b=2,*arg,**kwarg):
    print('positional arg are',a)
    print('default arg are',b)
    print('Arbitrary position arg are',arg)
    print('Arbitrary keyword arg are',kwarg)
    
function(14,8,2,8,6,2,4,8,6,5, x=10,y=20)

positional arg are 14
default arg are 8
Arbitrary position arg are (2, 8, 6, 2, 4, 8, 6, 5)
Arbitrary keyword arg are {'x': 10, 'y': 20}

In [142]:
def arguments(a,b,c=10,*d,**e):
    print(f'Arguments entered are : {a}, {b}, {c}, {d}, {e}')

arguments(1,2,3,10,20,30,phy=95, chem= 90, math= 96)

Arguments entered are : 1, 2, 3, (10, 20, 30), {'phy': 95, 'chem': 90, 'math': 96}

In [143]:
def my_function(a,b,c=10,d=20,*arg,**kwarg):
    print(f'Positional arguments are{a} {b}')
    print(f'Default arguments are{c} {d}')
    print(f'Arbitary arguments are{arg}')
    print(f'Arbitory Keyword arguments are{kwarg}')
    
my_function(14,8,2,8,6,2,4,8,6,5, 1=10,2=20 ) # It is variable name. and variable name does not start with number.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3669293120.py, line 7)

In [144]:
def add1(a,b=10,*arg):
#    print(f'a ={a} and b ={b} and arg={arg}')
    add = a+b+arg
    return(f'Addition of {a} and {b} and {arg} is {add} ')

In [145]:
add1(23,43,23,34,56)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [146]:
a=23 # detail explaination of upper problem like it we are trying to do that in upper problem
b=43
c=(23,34,56)
add=a+b+c
add

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

# Recursive Function

When we call the function inside the same function that time it is called as recursive function.
we use it when we required multiple things in short code.

## odd even number

In [147]:
def function(list1):
    even=[]
    odd=[]
    for i in list1:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    print(even) 
    print(odd)

In [148]:
function([23,4546,657,8,9,47,5])

[4546, 8]
[23, 657, 9, 47, 5]

## factorial of number

In [149]:
def fact(num):
    fact = 1
    for i in range(1,num+1):
        fact*=i
    print(' Factorial of a no. is: ',fact)

In [150]:
fact(5)

 Factorial of a no. is:  120

In [151]:
# Recursive Function

def fact1(n):
    if n == 1:
        return 1
    else:
        return n * fact1(n-1) # 5*4*3*2*1

In [152]:
fact1(5)

120

In [153]:
# Recursive Function

def fact1(n):
    if n == 1:
        return 1
    else:
        return n * fact1(n-1) # 5*4*3*2*1

In [154]:
fact1(5)

120

In [155]:
n = 5
n * fact1(n-1) >> 5 * fact1(5-4) >> 5* fact1(4)
5*fact1(4) >> 5*4*fact1(3)
5*4*fact1(3) >> 5*4*3*fact1(2)
5*4*3*fact1(2) >> 5*4*3*2*fact1(1)
5*4*3*2*1

120

In [156]:
fact1(4) >> 4 * fact1(3)
fact1(3) >> 3 * fact1(2)
fact1(2) >> 2 * fact1(1)
fact1(1) >> 1

0

In [21]:
# Recursive Function

def fact1(n):
    for i in n:
        if i==6:
            break
            
    return n * fact1(n-1) # 5*4*3*2*1

In [24]:
fact1(5)

TypeError: 'int' object is not iterable

In [77]:
def fact1(n):
    return n*fact1(n-1)

In [ ]:
fact1(23)

# Higher Order Functions

While creating  a function we call out another function inside the block of code is called higher order function.
Higher order function
1. map
2. filter

In [80]:
def addition(*arg):
    print('Arguments are: ', arg)

In [81]:
addition(6,4,34,5,4,655,7)

Arguments are:  (6, 4, 34, 5, 4, 655, 7)

In [82]:
def addition(*arg): # Higher Order Function 
    print('Arguments are: ', arg)
    add = sum(arg)
    return add

In [83]:
addition(6,4,34,5,4,655,7)

Arguments are:  (6, 4, 34, 5, 4, 655, 7)

715

In [25]:
def mul(arg):
    mul1 = 1
    for i in arg:
        mul1 = mul1 * i
    return mul1

In [26]:
mul([1,2,3,4,5,6])

720

In [27]:
def multiplication1(mnc): # Higher Order Function 
    add2 = mul(mnc)
    return add2

In [29]:
multiplication1([12,34,5,6,7,78,8,88])

4704860160

In [122]:
def add1(arg):
    sum1 = 0
    for i in arg:
        sum1 = sum1 + i
    return sum1

In [126]:
add1((4, 5, 6, 7, 8, 9,3))

42

In [127]:
def addition1(mnc): # Higher Order Function 
    add2 = add1(mnc)
    return add2

In [129]:
addition1((4, 5, 6, 7, 8, 9,3))

42

In [157]:
def add6(*arg):
    sum1 = 1
    for i in arg:
        sum1 = sum1 * i
    return sum1

In [158]:
add6(12,3,4,5,67,8)

385920

In [161]:
def multi (*ijk):
    print('all of addition ijk ' ,ijk)
    mully=add6(*ijk)
    return mully

In [162]:
multi(1,2,3,4,5,6,7)

all of addition ijk  (1, 2, 3, 4, 5, 6, 7)

5040

In [149]:
def adde (*mnv):
    sum1=0
    for i in mnv:
        sum1+=i
    return sum1

In [150]:
adde(1,2,3,4,5,6,5,54,2)

82

In [151]:
def substr (*ijk):
    print('all of addition ijk ' ,ijk)
    addi=adde(*ijk)
    return addi

In [152]:
substr(23,45,6,78,9)

all of addition ijk  (23, 45, 6, 78, 9)

161

# map()

# It is a higher order function.
# it gives true as well as false conditions.it means display true as well as false conditions.and also gives applying function output.
Syntax >> constructor(map(function_name:iterables,variable name))

In [2]:
list1 = [4,5,6,3,2,1]
list(map(lambda x:x*x, list1))

[16, 25, 36, 9, 4, 1]

In [1]:
list1 = [4,5,6,3,2,1]
list(map(lambda y:y**3, list1))

[64, 125, 216, 27, 8, 1]

In [2]:
string = 'Python and Machine Learning'
a = list(map(lambda x:x.islower(), string))
print(a)

[False, True, True, True, True, True, False, True, True, True, False, False, True, True, True, True, True, True, False, False, True, True, True, True, True, True, True]

In [6]:
string = ''
a = list(map(lambda x:x.islower(), string))
print(a)

[]

In [7]:
string = '   '
a = list(map(lambda x:x.islower(), string))
print(a)

[False, False, False]

In [10]:
string='My name is Akshay'
list(map(lambda y : y.lower(),string))

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'k',
 's',
 'h',
 'a',
 'y']

In [11]:
string='My name is Akshay'
print(list(map(lambda y : y.lower(),string)))

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'k', 's', 'h', 'a', 'y']

In [13]:
string='My name is Akshay'
b=print(list(map(lambda y : y.lower(),string)))
b

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'k', 's', 'h', 'a', 'y']

In [21]:
string='My name is Akshay'
b=list(map(lambda y : y.lower(),string))
print(b)

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'k', 's', 'h', 'a', 'y']

In [12]:
string='My name is Akshay'
b=print(list(map(lambda y : y.lower(),string)))
print(b)

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'k', 's', 'h', 'a', 'y']
None

In [69]:
def add(list1):
    add1 = 0
    for i in list1:
        add1= add1+i
    return add1
add([4,5,6,3,2,1])

21

In [76]:
x=[]
list(add y:y+y,x)
x

SyntaxError: invalid syntax (2484076055.py, line 2)

## Non Working Constructors

In [14]:
string = 'Python and Machine Learning'
a = map(lambda x:x.islower(), string)
a

In [17]:
string = 'Python and Machine Learning'
a = str(map(lambda x:x.islower(), string))
a

'<map object at 0x0000023D5C90A6A0>'

In [3]:
list1 =['ram'=4,'sham'=5,'radha'=6]
a=dict(map(lambda x:x.items(), list1))
print(a)

SyntaxError: invalid syntax (2324707520.py, line 1)

In [14]:
list1 ={'ram':4}
for i in range(len(list1)):
    dict(map(lambda i:i.values(), list1))
    print(a)

AttributeError: 'str' object has no attribute 'values'

In [6]:
list1 = {'ram':4,'sham':5,'radha':6,'divya':3}
list1.values()

dict_values([4, 5, 6, 3])

In [28]:
list1 = [4,5,6,3,2,1]
int(map(lambda x:x*x, list1))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'map'

In [29]:
list1 = [4,5,6,3,2,1]
float(map(lambda x:x*x, list1))

TypeError: float() argument must be a string or a number, not 'map'

## Working Constructors

In [19]:
string = 'Python and Machine Learning'
a = tuple(map(lambda x:x.islower(), string))
print(a)

(False, True, True, True, True, True, False, True, True, True, False, False, True, True, True, True, True, True, False, False, True, True, True, True, True, True, True)

In [23]:
string = 'Python and Machine Learning'
a = list(map(lambda x:x.islower(), string))
print(a)

[False, True, True, True, True, True, False, True, True, True, False, False, True, True, True, True, True, True, False, False, True, True, True, True, True, True, True]

In [46]:
list1 = [4,5,6,3,2,1]
a=set(map(lambda x:x*x, list1))
a

{1, 4, 9, 16, 25, 36}

In [45]:
list1 = [4,5,6,3,2,1]
a=set(map(lambda x:x*x, list1))
print(a)

{1, 36, 4, 9, 16, 25}

In [47]:
list1 = [4,5,6,3,2,1]
a=frozenset(map(lambda x:x*x, list1))
a

frozenset({1, 4, 9, 16, 25, 36})

In [48]:
list1 = [4,5,6,3,2,1]
a=frozenset(map(lambda x:x*x, list1))
print(a)

frozenset({1, 36, 4, 9, 16, 25})

# filter()

it gives only true condition values.it means display only true condition values,false condition values does not show
Syntax >> constructor(filter(function_name:iterables,variable name)

In [22]:
string = 'Python and Machine Learning'
a = list(map(lambda x:x.lower(), string))
print(a)
len(a)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'a', 'n', 'd', ' ', 'm', 'a', 'c', 'h', 'i', 'n', 'e', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

27

In [18]:
string = 'Python and Machine Learning'
a = list(map(lambda x:x.islower(), string))
print(a)
len(a)

[False, True, True, True, True, True, False, True, True, True, False, False, True, True, True, True, True, True, False, False, True, True, True, True, True, True, True]

27

In [19]:
string = 'Python and Machine Learning'
a = list(filter(lambda x:x.islower(), string))
print(a)
len(a)

['y', 't', 'h', 'o', 'n', 'a', 'n', 'd', 'a', 'c', 'h', 'i', 'n', 'e', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

21

In [20]:
list1 = [4,5,2,13,6,8,7,9,10]
list(map(lambda x: x%2==0,list1))

[True, False, True, False, True, True, False, False, True]

In [21]:
list1 = [4,5,2,13,6,8,7,9,10]
list(filter(lambda x: x%2==0,list1))

[4, 2, 6, 8, 10]

In [25]:
list1 = [4,5,2,13,6,8,7,9,10]
a=list(map(lambda y:y%2!=0,list1))
print(a)

[False, True, False, True, False, False, True, True, False]

In [26]:
list1 = [4,5,2,13,6,8,7,9,10]
list(filter(lambda x: x%2!=0,list1))

[5, 13, 7, 9]

In [28]:
weekdays = ['Sunday','Monday','Tuesday','Wednsday','Friday','Saturday']
list(map(lambda x: len(x)==6, weekdays))

[True, True, False, False, True, False]

In [30]:
weekdays = ['Sunday','Monday','Tuesday','Wednsday','Friday','Saturday']
list(filter(lambda y:len(y)==6,weekdays))

['Sunday', 'Monday', 'Friday']

## Working Constructions

In [31]:
string = 'Python and Machine Learning'
a = tuple(filter(lambda x:x.islower(), string))
print(a)

('y', 't', 'h', 'o', 'n', 'a', 'n', 'd', 'a', 'c', 'h', 'i', 'n', 'e', 'e', 'a', 'r', 'n', 'i', 'n', 'g')

In [32]:
string = 'Python and Machine Learning'
a = list(filter(lambda x:x.islower(), string))
print(a)

['y', 't', 'h', 'o', 'n', 'a', 'n', 'd', 'a', 'c', 'h', 'i', 'n', 'e', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [34]:
list1 = [4,5,6,3,2,1]
a=set(filter(lambda x:x*x, list1))
a

{1, 2, 3, 4, 5, 6}

In [51]:
list1 = [4,5,6,3,2,1]
a=set(filter(lambda x:x*x, list1))
print(a)

{1, 2, 3, 4, 5, 6}

In [50]:
list1 = [4,5,6,3,2,1]
a=frozenset(filter(lambda x:x*x, list1))
a

frozenset({1, 2, 3, 4, 5, 6})

In [49]:
list1 = [4,5,6,3,2,1]
a=frozenset(filter(lambda x:x*x, list1))
print(a)

frozenset({1, 2, 3, 4, 5, 6})

## Non Working Constructors

In [39]:
string = 'Python and Machine Learning'
a = filter(lambda x:x.islower(), string)
a

In [42]:
string = 'Python and Machine Learning'
a = str(filter(lambda x:x.islower(), string))
a

'<filter object at 0x0000018740E62190>'

In [41]:
list1 ='ram=4,sham=5,radha=6
a=dict(filter(lambda x:x.items(), list1))
print(a)

SyntaxError: EOL while scanning string literal (174493473.py, line 1)

In [44]:
list1 = {'ram':4,'sham':5,'radha':6,'divya':3}
a=dict(filter(lambda x:x.items(), list1))
a

AttributeError: 'str' object has no attribute 'items'

In [46]:
list1 = [4,5,6,3,2,1]
int(filter(lambda x:x*x, list1))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'filter'

In [48]:
list1 = [4,5,6,3,2,1]
float(filter(lambda x:x*x, list1))

TypeError: float() argument must be a string or a number, not 'filter'

# Lambda Function

It is an annonymous function
annonymous function >> Function without name
Higher order function
1. map
2. filter

Lambda functions are defined using lambda keyword.
No need of any return statement.

arguments >> Multiple
Expression >> Single

## Syntax

(lambda arguments : expression)

In [1]:
def mult(a,b):
    mul = a*b
    return mul

mult(4,5)

20

In [1]:
(lambda a,b : a*b)(4,5)

20

In [4]:
(lambda a,b : a+b)(4,5)

9

In [29]:
x = (lambda a,b : a*b)
x(4,5)

20

In [27]:
y=lambda a,b : a+b
y(10,20)

30

In [26]:
y=lambda a,b : (a+b)
y(10,20)

30

In [28]:
y=(lambda a,b : (a+b))
y(10,20)

30

In [27]:
x = lambda a,b,c : a+b+c
x(10,20,30)

60

In [9]:
x = lambda a,b,c : (a+b+c)/3
x(10,20,30)

20.0

In [8]:
(lambda a,b,c : a+b+c) (10,20,30)

60

In [22]:
(lambda a,b,c:(a+b+c/3)) (10,20,30)

40.0

In [37]:
lambda a,b,c:(a+b+c/3) (10,20,30)

In [30]:
(lambda(a,b,c):(a+b+c)/3(10,20,30)

SyntaxError: invalid syntax (1930374390.py, line 1)

In [24]:
(lambda (a,b,c):(a+b+c/3)) (10,20,30)

SyntaxError: invalid syntax (127441163.py, line 1)

In [25]:
(lambda a,b,c:(a+b+c/3)) 10,20,30

SyntaxError: invalid syntax (483105746.py, line 1)

In [31]:
x = lambda a, b=10, c=15 : (a+b+c)/3
x(5)

10.0

In [35]:
x = (lambda a, b=10, c=15 : (a+b+c)/3)
x(10, 20,30)

20.0

In [36]:
add = lambda *a : sum(a)
add(10,20,30)

60

In [41]:
(lambda *a : sum(a)) (10,20,30)

60

In [42]:
(lambda *a : sum a) (10,20,30)

SyntaxError: invalid syntax (179692900.py, line 1)

In [43]:
add = lambda a, *arg, **kwarg : a + sum(arg) + sum(kwarg.values())
add(10,5,2,8,6,9, x=20,y=50)

110

In [55]:
(lambda a,b=10,*arg,**kwarg : a + b + sum(arg)+sum(kwarg.values())) (10,45,34,67,8,90,7,5,z=35,x=45)

346

In [56]:
(lambda a,b=10,c=20,*arg,**kwarg : a+b+c+sum(arg)+sum(kwarg.values())) (10,23,45,34,67,8,90,7,5,z=35,x=45)

369

In [57]:
result = lambda a,b : print(f'{a} is greater than {b}') if a>b else print(f'{b} is greater than {a}')
result(10,20)

20 is greater than 10

In [58]:
(lambda a,b : print(f'{a} is greater than {b}') if a>b else print(f'{b} is greater than {a}'))(20,10)

20 is greater than 10

In [62]:
list1 = [1,2,4,5,6,3,7] # [1,4,16,25,36,9,49]
sqr = lambda input_list : [i**2 for i in input_list]
sqr(list1)

[1, 4, 16, 25, 36, 9, 49]

In [63]:
list1=[1,2,3,4,5,6,7]
square=(lambda list1 :[i**2 for i in list1])
square(list1)

[1, 4, 9, 16, 25, 36, 49]

In [67]:
list1=[11,27,31,42,5,6,17]
(lambda list1 :[i**2 for i in list1]) (list1)

[121, 729, 961, 1764, 25, 36, 289]

In [66]:
(lambda list1 :[i**2 for i in list1]) ([1,98,4,23,56,76,7])

[1, 9604, 16, 529, 3136, 5776, 49]

In [81]:
sqr1 = lambda *list2 : [i**2 for i in list2]
sqr1(list2)

NameError: name 'list2' is not defined

In [30]:
(lambda list1 :[i**2 for i in list1]) (7)

TypeError: 'int' object is not iterable

In [75]:
(lambda list1 :[i**2 for i in list1]) (1,98,4,23,56,76,7)

TypeError: <lambda>() takes 1 positional argument but 7 were given

In [73]:
square=(lambda a,b :[i**2 for i in a,b])
square(21,3)

SyntaxError: invalid syntax (4099722475.py, line 1)

In [74]:
sqr = lambda *list1 : [i**2 for i in list1]
sqr(1,2,4,5,6,3,7)

[1, 4, 16, 25, 36, 9, 49]

In [31]:
(lambda *list1 : [i**2 for i in list1])(1,2,4,5,6,3,7)

[1, 4, 16, 25, 36, 9, 49]

In [3]:
sqr = lambda *list1 : [i**2 for i in list1]
sqr([1,2,3])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'